/* Table of Content
==================================================
1.0  -  Custom Class
2.0  -  Browser Fix
3.0  -  DT Responsive*/

/*--------------------------------------------------------------
1.0 - Custom Class
--------------------------------------------------------------*/
a.video-image span:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
.title_uppercase { text-transform:uppercase; }
.title_bold { font-weight:bold; }
/* http://prntscr.com/dydrzx = Reseller Hosting page */
/* .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner { position: relative; } */
.extend-bg-fullwidth-left:not(.vc_col-has-fill):after, .extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { content:""; display:inline !important; height:100%; position:absolute; top: 0; width: 9999px; z-index: -1; }
.extend-bg-fullwidth-left:not(.vc_col-has-fill):after, .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after { right:100%; }
.extend-bg-fullwidth-right:not(.vc_col-has-fill):after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { left:100%; }

.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after,
.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { background-color: inherit; }
	
.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after, .dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after { background: none; }


.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after, 
.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after { right: 0; transform: skewX(-30deg) translateX(18px); z-index: 0; box-shadow: 8px 0 0 0 #fff; }

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.dt-col-static-position) > .vc_column-inner { position: relative; z-index: 1 !important; }	

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:before { left: 0; transform: skewX(-30deg) translateX(-32px); }

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left[class*="dt-skin-"],
.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right[class*="dt-skin-"] { background-color: transparent; }

a.video-image span { font-size: 40px; position: relative; height: 75px; width: 75px; line-height: 75px; color: #fff; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
a.video-image span:after { position: absolute; display: block; content: ""; height: 75px; width: 75px; line-height: 75px; border-radius: 50%; background: #2b2b2b; color: #fff; -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); z-index: -1; top: 0; left: -2px; }
a.video-image span:hover:after { background: #fff; }

.image-overlay-icon .vc_single_image-wrapper { position: relative; }
.image-overlay-icon .vc_single_image-wrapper:before { content: ""; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.4); top: 0; left: 0; right: 0; margin: 0 auto; position: absolute; }
.image-overlay-icon a.video-image { position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; width: 100%; text-align: center; }

.gradient-parallax:before { content: ""; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; z-index: 9;
    background: -moz-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
        background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }
        .gradient-parallax .gradient-content { z-index: 9; padding-right: 45px; }

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	::i-block-chrome, .safari-hack.vc_row.vc_row-flex { display: block !important; }
}
/*.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container*/

/*----*****---- << Vc Column custom class >> --****--*/
.rs_no-padding_column.wpb_column, .vc_col-md-12.wpb_column.rs_no-padding_column { margin-top: -1px; padding-bottom: 0; margin-bottom:0; } /* http://prntscr.com/dydqdv */
.light-overlay:before { background:rgba(255, 255, 255, 0.8); } /* http://prntscr.com/dydsrd  = Model Home page contact section */
.dark-overlay:before { background:rgba(0, 0, 0, 0.8);  }	


/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
.gray-scale:hover, .gray-scale:hover img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); -o-filter: grayscale(1); filter: grayscale(1); -webkit-transition-property: -webkit-filter; -moz-transition-property: -moz-filter; -ms-transition-property: -ms-filter; -o-transition-property: -o-filter; transition-property: filter; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }


/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
.dt-sc-text-with-icon { width:100%; clear:both; float:left; font-weight:bold; padding:12px 0px 12px 20px; }
.dt-sc-text-with-icon span { font-size:18px; margin:0px 7px 0px 0px; position:relative; top:2px; font-weight:bold; }
.dt-sc-text-with-icon.border-bottom { border-bottom:1px solid; }
.dt-sc-text-with-icon.border-right { border-right:1px solid; }

.dt-sc-dark-bg .dt-sc-text-with-icon span { color:#ffffff; }
	
	/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
.hosting-table { border-top:0px; font-family:'Open Sans', sans-serif; }
.hosting-table th { background:#e1e1e1; border-radius:5px 5px 0px 0px; color:#000000; font-weight:600; font-size:16px; border-right:1px solid #ffffff; padding:20px 15px; }
.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.95); border-right:1px solid rgba(255, 255, 255, 0.2); border-bottom:0px; font-size:16px; font-weight:600; padding:25px 15px; }
.hosting-table tbody tr td:last-child, .hosting-table tr th:last-child { border:none; }
.hosting-table tbody tr:nth-child(2) td { background:rgba(0, 0, 0, 0.9); }
.hosting-table tbody tr:nth-child(3) td { background:rgba(0, 0, 0, 0.85); }
.hosting-table tbody tr:nth-child(4) td { background:rgba(0, 0, 0, 0.8); }
.hosting-table tbody tr:nth-child(5) td { background:rgba(0, 0, 0, 0.75); }
.hosting-table tbody tr:nth-child(6) td { background:rgba(0, 0, 0, 0.7); }
.hosting-table tbody tr:nth-child(7) td { background:rgba(0, 0, 0, 0.65); }
.hosting-table tbody tr:nth-child(8) td { background:rgba(0, 0, 0, 0.6); }
.hosting-table tbody tr:nth-child(9) td { background:rgba(0, 0, 0, 0.55); }
.hosting-table tbody tr:nth-child(10) td { background:rgba(0, 0, 0, 0.5); }
.hosting-table tbody tr:nth-child(11) td { background:rgba(0, 0, 0, 0.45); }
.hosting-table tbody tr:nth-child(12) td { background:rgba(0, 0, 0, 0.4); }
.hosting-table tbody tr td:first-child { position:relative; }
.hosting-table tbody tr td:first-child:before { content:""; position:absolute; left:0px; top:0px; width:100%; height:100%; background:#60ae0d; z-index:-1; }
.hosting-table tbody tr td.new, .hosting-table tbody tr td.hot { position:relative; overflow:hidden; }
.hosting-table tbody tr td.new:before, .hosting-table tbody tr td.hot:before { content:"New"; position:absolute; left:-20px; top:5px; padding:2px 22px; background:#60ae0d; color:#ffffff; font-size:12px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);  transform:rotate(-45deg); }
.hosting-table tbody tr td.hot:before { content:"Hot"; background:#e80505; padding:2px 24px; }


/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
.dt-sc-partially-rounded-alt { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
.vc_min_height_right.wpb_column.vc_col-sm-6 { margin-left: 30px; width: calc(50% - 30px); } /* http://prntscr.com/e0ka7y *

/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
.dt-sc-image-caption-with-counter { counter-reset:image-caption-counter; }
.dt-sc-image-caption-with-counter h3 { counter-increment:image-caption-counter; }
.dt-sc-image-caption-with-counter h3:before { content:counter(image-caption-counter, decimal-leading-zero); font-size:36px; font-weight:600; border-bottom:2px solid; float:left; margin:-10px 20px 0px 0px; padding:0px; }
.dt-sc-image-caption-with-counter h3:before { font-family:'Open Sans', sans-serif; }

.dt-sc-contact-details-on-map .dt-sc-map-overlay h3, .dt-sc-contact-details-on-map .map-switch-icon, .dt-sc-contact-details-on-map .map-switch-icon:hover { color:#ffffff; }	
.dt-sc-contact-details-on-map .map-switch-icon:hover { background:#000000; } /* http://prntscr.com/dydzs2 = Restaurant */

/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; } 
.dt-sc-readmore-plus-icon { position:absolute; right:0px; bottom:0px; width:60px; height:60px; text-indent:-9999px; }
.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { content:""; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
.dt-sc-readmore-plus-icon:before { height:1px; width:30px; }
.dt-sc-readmore-plus-icon:after { height:30px; width:1px; }	
.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { background:#ffffff; }	
.dt-sc-readmore-plus-icon { background:#000000; }	
.dt-sc-readmore-plus-icon:hover { background:rgba(0, 0, 0, 0.8); }

/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
.diamond-narrow-square-border li:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
.diamond-narrow-square-border li a { color:#000000; }	
.diamond-narrow-square-border li a:hover { color:#ffffff; }


/*----*****---- << Tabs >> ----*****----*/

.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li > a:before, .dt-image-with-anti-corner-frame:before, .dt-image-with-anti-corner-frame:after, .dt-sc-counter.type1.no-border-without-icon .dt-sc-counter-number:after, .dt-custom-bordered-clients-carousel .slick-slide:before, .dt-sc-contact-info.simple-with-block-icon span:after, .dt-process-steps-counter .with-counter-num-value, .dt-sc-counter.type1.dt-rounded-box-with-bgfill, .dt-sc-counter.type1.dt-rounded-box-with-bgfill .dt-sc-counter-number, .dt-sc-counter.type1.dt-rounded-box-with-bgfill h4, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb img, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb .dt-sc-team-thumb-overlay, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb:before, .dt-contact-location h5.vc_custom_heading:after, .dt-custom-job-post-list-wrapper ul li:after { -webkit-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; }

.dt-sc-team.type2 .dt-sc-team-thumb .dt-sc-team-social:before { -webkit-transition: all 0.5s linear 0s; transition: all 0.5s linear 0s; }

.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line { margin-bottom: 0; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal,
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li > a { border-width: 0; }

.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal { display: block; float: none; margin-left: -10px; margin-right: -10px; width: auto; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li { margin: 0 20px 0 0; padding: 10px; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li:last-child { margin-right: 0; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li > a { font-size: 20px; padding: 0; position: relative; text-transform: capitalize; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li > a:before { content: ""; height: 1px; margin: auto; position: absolute; left: 0; right: 0; top: 50%; width: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li > a:hover:before,
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line ul.dt-sc-tabs-horizontal > li > a.current:before { width: 100%; }


.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line.alter { display: table; float: none; margin-bottom: 20px; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line.alter ul.dt-sc-tabs-horizontal { display: table-footer-group; float: none; margin: 0; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line.alter ul.dt-sc-tabs-horizontal li { padding-left: 0; padding-right: 0; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line.alter ul.dt-sc-tabs-horizontal li a { font-size: 16px; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line.alter ul.dt-sc-tabs-horizontal li a:not(.current) { color: initial; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line.alter ul.dt-sc-tabs-horizontal li a:before { content: none; }
.dt-sc-tabs-horizontal-container.dt-simple-with-strike-line.alter .dt-sc-tabs-horizontal-content { padding-top: 0; padding-bottom: 10px; }


/*----*****---- << Image & Misc >> ----*****----*/

.dt-image-with-anti-corner-frame { display: table; position: relative; }
.dt-image-with-anti-corner-frame:before, .dt-image-with-anti-corner-frame:after { border-color: #909090; border-style: solid; content: ""; height: 200px; position: absolute; width: 200px; z-index: -1; }
.dt-image-with-anti-corner-frame.vc_align_center { margin: auto; }

.dt-image-with-anti-corner-frame:before { border-width: 1px 0 0 1px; left: -20px; top: -20px; }
.dt-image-with-anti-corner-frame:after { border-width: 0 1px 1px 0; bottom: -20px; right: -20px; }

.dt-image-with-anti-corner-frame:hover:before, .dt-image-with-anti-corner-frame:hover:after,
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7:hover .dt-image-with-anti-corner-frame:before,
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7:hover .dt-image-with-anti-corner-frame:after { height: 60%; width: 60%; }

.dt-sc-small-separator.dt-custom-wide-100px { height: 1px; width: 100px; }


/*----*****---- << Num Counter >> ----*****----*/

.dt-sc-counter.type1.no-border-without-icon { border-width: 0; padding: 0; }
.dt-sc-counter.type1.no-border-without-icon .icon-wrapper { display: none; }
.dt-sc-counter.type1.no-border-without-icon .dt-sc-counter-number { font-size: 50px; font-weight: bold; line-height: normal; margin-bottom: 40px; padding-bottom: 35px; position: relative; }
.dt-sc-counter.type1.no-border-without-icon .dt-sc-counter-number:after { background-color: currentColor; content: ""; display: block; height: 2px; margin: auto; position: absolute; bottom: 0; left: 0; right: 0; width: 50px; }

.dt-sc-counter.type1.no-border-without-icon:hover .dt-sc-counter-number:after { width: 75px; }

.dt-sc-counter.type1.no-border-without-icon h4 { font-size: 20px; font-weight: bold; letter-spacing: 0.32px; margin-bottom: 20px; text-transform: capitalize; }


.dt-sc-counter.type1.dt-rounded-box-with-bgfill { background-color: #f0f0f0; border-width: 0; padding: 55px 25px 50px; text-align: center; -webkit-border-radius: 10px; border-radius: 10px; }
.dt-sc-counter.type1.dt-rounded-box-with-bgfill .dt-sc-counter-number { font-size: 40px; font-weight: bold; margin-bottom: 15px; }
.dt-sc-counter.type1.dt-rounded-box-with-bgfill h4 { font-size: 26px; font-weight: normal; margin-bottom: 0; text-transform: capitalize; }


/*----*****---- << Contact Info >> ----*****----*/

.dt-sc-contact-info.simple-with-block-icon { padding: 0; }
.dt-sc-contact-info.simple-with-block-icon span { display: inline-block; float: none; margin: 0; padding: 0; position: relative; }
.dt-sc-contact-info.simple-with-block-icon span:after { content: ""; display: inline-block; height: 1px; margin: 40px 0 25px; width: 50px; }
.dt-sc-contact-info.simple-with-block-icon:hover span:after { width: 75px; }
.dt-sc-contact-info.simple-with-block-icon h6 { letter-spacing: 0.32px; margin-bottom: 30px }

.dt-sc-contact-info.alter { padding-left: 35px; }
.dt-sc-contact-info.alter span { font-size: 20px; margin: 0; top: 5px; }
.dt-sc-contact-info.alter a { color: #909090; }

/*----*****---- << Contact Location >> ----*****----*/

.dt-contact-location h5.vc_custom_heading { padding-bottom: 15px; position: relative; }
.dt-contact-location h5.vc_custom_heading:after { background-color: currentColor; content: ""; height: 1px; position: absolute; bottom: 0; left: 0; width: 40px; }

.dt-contact-location:hover h5.vc_custom_heading:after { width: 60px; }


/*----*****---- << Gradient (Top - Bottom) >> ----*****----*/
div[class*="gradient-bg-to-right"], section[class*="gradient-bg-to-right"] { position: relative; }
div[class*="gradient-bg-to-right"] > *, section[class*="gradient-bg-to-right"] > * { z-index: 1; }
div[class*="gradient-bg-to-right"] > .upb_row_bg { z-index: 0; }
div[class*="gradient-bg-to-right"]:before, section[class*="gradient-bg-to-right"]:before { content: ""; display: inline; height: 100%; pointer-events: none; position: absolute; left: 0; top: 0; z-index: 1; }

.gradient-bg-to-right-60:before { width: 60%; }
.gradient-bg-to-right-80:before { width: 80%; }

div[class*="gradient-bg-to-right"]:before, section[class*="gradient-bg-to-right"]:before {
	background-image: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 16%, rgba(255,255,255,0.80) 32%, rgba(255,255,255,0.64) 48%, rgba(255,255,255,0.48) 64%, rgba(255,255,255,0.32) 80%, rgba(255,255,255,0.16) 96%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 16%,rgba(255,255,255,0.80) 32%,rgba(255,255,255,0.64) 48%,rgba(255,255,255,0.48) 64%,rgba(255,255,255,0.32) 80%,rgba(255,255,255,0.16) 96%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 16%,rgba(255,255,255,0.80) 32%,rgba(255,255,255,0.64) 48%,rgba(255,255,255,0.48) 64%,rgba(255,255,255,0.32) 80%,rgba(255,255,255,0.16) 96%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */	
}


/*----*****---- << Custom Call-to-Action Link >> ----*****----*/

.text-with-icon.dt-custom-call-to-action-link { direction: rtl; }
.text-with-icon.dt-custom-call-to-action-link, .text-with-icon.dt-custom-call-to-action-link > * { line-height: 30px; }
.text-with-icon.dt-custom-call-to-action-link span { font-weight: normal; margin-left: 5px; top: auto; }
.dt-custom-call-to-action-link a { float: left; font-size: 16px; letter-spacing: 0.32px }


/*----*****---- << List - Custom Rounded Square Icon >> ----*****----*/

ul.dt-sc-fancy-list.rounded-square-icon	li:before { content: "\f0c8"; font-size: 10px; top: 5px; }
ul.dt-sc-fancy-list.rounded-square-icon	li:first-child:before { top: 0; }


.dt-custom-job-post-list-wrapper h6 { border-width: 0 0 2px; }
.dt-custom-job-post-list-wrapper ul, .dt-custom-job-post-list-wrapper ul li { float: left; width: 100%; }
.dt-custom-job-post-list-wrapper h6, .dt-custom-job-post-list-wrapper ul li { border-style: solid; padding-bottom: 15px; }
.dt-custom-job-post-list-wrapper ul li { border-color: #e1e1e1; border-width: 0 0 1px; display: inline-block; padding-top: 15px; position: relative; }
.dt-custom-job-post-list-wrapper ul li a, .dt-custom-job-post-list-wrapper ul li span { display: inline-block; }
.dt-custom-job-post-list-wrapper ul li span { float: right; }
.dt-custom-job-post-list-wrapper ul li:after { border-bottom: 2px solid; content: ""; height: 1px; position: absolute; bottom: -1px; left: 0; width: 0; }
.dt-custom-job-post-list-wrapper ul li:hover:after { width: 100%; }


/*----*****---- << Image Caption >> ----*****----*/

.dt-process-steps-counter-wrapper { counter-reset: process-steps-counter; }
.dt-process-steps-counter-wrapper .dt-process-steps-counter { border-bottom: 1px solid #f0f0f0; counter-increment: process-steps-counter; margin-bottom: 60px; padding-bottom: 60px; }
.dt-process-steps-counter-wrapper .dt-process-steps-counter.last { border-width: 0; margin-bottom: 0; padding-bottom: 0; }
.dt-process-steps-counter-wrapper .dt-process-steps-counter .with-counter-num-value:after { content: counter(process-steps-counter,decimal); display: inline-block; margin-left: 10px; }

.dt-process-steps-counter-wrapper .dt-process-steps-counter.alter .wpb_column { float: right; text-align: right; }
.dt-process-steps-counter-wrapper .dt-process-steps-counter.alter .dt-sc-fancy-list li { display: table; margin-left: auto; text-align: right; }
.dt-process-steps-counter-wrapper .dt-process-steps-counter.alter .vc_custom_heading { text-align: right !important; }

.dt-process-steps-counter .dt-sc-image-caption.type6:before { -webkit-transition: opacity .4s cubic-bezier(0.165,0.84,0.44,1); transition: opacity .4s cubic-bezier(0.165,0.84,0.44,1); }

.dt-process-steps-counter .dt-sc-image-caption.type6 .dt-sc-image-wrapper img { -webkit-transition: .5s cubic-bezier(0.19,1,0.22,1); transition: .5s cubic-bezier(0.19,1,0.22,1); }

.dt-process-steps-counter .dt-sc-image-caption.type6 .dt-sc-image-content { -webkit-transform: scale(0.8) translateY(-50%); transform: scale(0.8) translateY(-50%); -webkit-transition: .4s cubic-bezier(0.165,0.84,0.44,1); transition: .4s cubic-bezier(0.165,0.84,0.44,1); }

.dt-process-steps-counter .dt-sc-image-caption.type6:before, .dt-process-steps-counter .dt-sc-image-caption.type6 .dt-sc-image-wrapper img, .dt-process-steps-counter .dt-sc-image-caption.type6 .dt-sc-image-content { -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.dt-process-steps-counter .dt-sc-image-caption.type6:before, .dt-process-steps-counter .dt-sc-image-caption.type6 .dt-sc-image-content { opacity: 0; }

.dt-process-steps-counter .dt-sc-image-caption.type6 .dt-sc-image-content .icon-wrapper:after { width: 0; -webkit-transition: width .6s; transition: width .6s; }


.dt-process-steps-counter:hover .dt-sc-image-caption.type6:before, .dt-process-steps-counter .dt-sc-image-caption.type6 .dt-sc-image-wrapper img, .dt-process-steps-counter:hover .dt-sc-image-caption.type6 .dt-sc-image-content { opacity: 1; }

.dt-process-steps-counter:hover .dt-sc-image-caption.type6 .dt-sc-image-wrapper img { opacity: 0.24; }

.dt-process-steps-counter:hover .dt-sc-image-caption.type6 .dt-sc-image-wrapper img { -webkit-transform: scale(1.1); transform: scale(1.1); }
.dt-process-steps-counter:hover .dt-sc-image-caption.type6 .dt-sc-image-content { -webkit-transform: scale(1) translateY(-50%); transform: scale(1) translateY(-50%); }

.dt-process-steps-counter:hover .dt-sc-image-caption.type6 .dt-sc-image-content .icon-wrapper:after { width: 100px; }

.dt-process-steps-counter .with-counter-num-value { margin-left: -35px; }
.dt-process-steps-counter.alter .with-counter-num-value { margin-left: 0; margin-right: -35px; }
.dt-process-steps-counter:hover .with-counter-num-value { margin-left: 0; }
.dt-process-steps-counter.alter:hover .with-counter-num-value { margin-right: 0; }


.dt-image-caption-counter-wrapper { counter-reset: image-caption-counter; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 { counter-increment: image-caption-counter; }


.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-wrapper { padding-right: 35px; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7.left-content .dt-sc-image-wrapper { padding-left: 35px; }

.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .icon-wrapper { display: inline-block; margin-bottom: 20px; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7.left-content .dt-sc-image-content .icon-wrapper { direction: rtl; }

.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .icon-wrapper:before { content: ""; display: inline-block; height: 2px; vertical-align: middle; width: 0; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7:hover .dt-sc-image-content .icon-wrapper:before { width: 100px; }

.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .icon-wrapper:before,
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .icon-wrapper span { display: inline-block; vertical-align: middle; }

.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .icon-wrapper span { padding: 0; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7:hover .dt-sc-image-content .icon-wrapper span { padding: 0 20px; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .icon-wrapper span:before { content: counter(image-caption-counter,decimal-leading-zero); font-size: 24px; }

.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content { padding: 20px 0; text-align: left; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7.left-content .dt-sc-image-content { text-align: right; }


.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .dt-sc-image-title { margin-bottom: 20px; }
.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content .dt-sc-image-title h3 { font-size: 54px; font-weight: bold; letter-spacing: -0.1px; }
.dt-sc-image-caption.type3.dt-custom-service-caption-no-icon .dt-sc-image-wrapper { margin-bottom: 30px; }
.dt-sc-image-caption.type3.dt-custom-service-caption-no-icon .dt-sc-image-wrapper .icon-wrapper { display: none; }	
.dt-sc-image-caption.type3.dt-custom-service-caption-no-icon .dt-sc-image-content h3 { font-size: 20px; font-weight: bold; }	


/*----*****---- << Testimonial >> ----*****----*/

.dt-sc-testimonial.type1.alter { display: table; }
.dt-sc-testimonial.type1.alter .dt-sc-testimonial-author { display: table-footer-group; }
.dt-sc-testimonial.type1.alter .dt-sc-testimonial-quote { display: table-header-group; padding-top: 10px; }
.dt-sc-testimonial.type1.alter .dt-sc-testimonial-quote blockquote { padding-bottom: 25px; }
.dt-sc-testimonial.type1.alter.with-modal-popup-overlay { padding-top: 75px; position: relative; }
.dt-sc-testimonial.type1.alter.with-modal-popup-overlay .dt-sc-testimonial-quote blockquote:before { content: none; }

.dt-sc-testimonial.type1.alter.with-modal-popup-overlay .dt-sc-testimonial-author span { height: 40px; line-height: 40px; position: absolute; left: 0; right: 0; top: 15px; width: 40px; }
.dt-sc-testimonial.type1.alter.with-modal-popup-overlay .dt-sc-testimonial-author span:before { content: "\f144"; font-family: FontAwesome; font-size: 40px; font-style: normal; font-weight: normal; line-height: inherit; margin: 0 auto 20px; }
.dt-sc-testimonial.type1.alter.with-modal-popup-overlay .dt-sc-testimonial-author span img { display: none; }
.dt-sc-testimonial.type1.alter.with-modal-popup-overlay .dt-sc-testimonial-quote blockquote q { pointer-events: none; }
.dt-sc-testimonial.type1.alter.with-modal-popup-overlay:hover .dt-sc-testimonial-quote blockquote:before { cursor: pointer; }


/*----*****---- << Team >> ----*****----*/

.dt-sc-team.type2.dt-simple-without-bg { background: none; }
.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details { display: block; float: left; width: 100%; }

.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb .dt-sc-team-thumb-overlay, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details { background: none !important;  }

.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb img { position: relative; z-index: 0; }

.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb:before { content: ""; height: 100%; opacity: 0; position: absolute; left: 0; top: 0; width: 100%; visibility: hidden; }
.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb .dt-sc-team-social:before { content: ""; display: block; height: 2px; margin-left: auto; margin-right: auto; margin-bottom: 35px; width: 0; }
.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb .dt-sc-team-social li a { width: 20px; }


.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details { display: table; padding: 50px 0 0; text-align: left; }
.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details:before { content: none; }

.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details h4 { font-size: 30px; font-weight: bold; margin: 10px 0 20px; text-transform: capitalize; }
.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details h5 { display: table-header-group; font-size: 16px; }

.dt-sc-team.type2.dt-simple-without-bg:hover .dt-sc-team-thumb img { opacity: 0.2; }
.dt-sc-team.type2.dt-simple-without-bg:hover .dt-sc-team-thumb:before { opacity: 1; visibility: visible; }
.dt-sc-team.type2.dt-simple-without-bg:hover .dt-sc-team-thumb .dt-sc-team-social:before { width: 50px; }


/*----*****---- << Flip Box >> ----*****----*/

.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face .ifb-flip-box-section { padding: 40px 20px; }
.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .flip-box-icon .aio-icon-img { font-size: 134px; }
.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face.ifb-front { background-color: #f5f5f5; }

.flip-box-wrap .dt-custom-flip-box .ifb-flip-box { -webkit-perspective:1000px; perspective:1000px; -webkit-transform-style: preserve-3d; transform-style:preserve-3d; }
.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face {
	-webkit-perspective:1000px; 
	perspective:1000px; 
	-webkit-backface-visibility:hidden; 
	backface-visibility:hidden; 
	-webkit-transform-style: preserve-3d; 
	transform-style:preserve-3d;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); 
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); 
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); 
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), transform .7s cubic-bezier(0.4, 0.2, 0.2, 1) ; 			
}

.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face.ifb-front { 
	-webkit-transform:rotateY(0deg); 
	transform:rotateY(0deg); 
}

.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face.ifb-back { 
	-webkit-transform:rotateY(180deg); 
	transform:rotateY(180deg); 	
}


.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face .ifb-flip-box-section { 
	-webkit-perspective:inherit; 
	perspective:inherit; 
	-webkit-transform:translateY(-50%) translateZ(60px) scale(0.94); 
	transform:translateY(-50%) translateZ(60px) scale(0.94); 
} 	
.flip-box-wrap .dt-custom-flip-box .ifb-flip-box.ifb-hover .ifb-face.ifb-front { 
	-webkit-transform:rotateY(-180deg); 
	transform:rotateY(-180deg);  
}
.flip-box-wrap .dt-custom-flip-box .ifb-flip-box.ifb-hover .ifb-face.ifb-back { 
	-webkit-transform:rotateY(0deg); 
	transform:rotateY(0deg); 
}


/*----*****---- << Advanced Carousel >> ----*****----*/

.dt-negative-margin-wide-carousel { margin-left: -180px; margin-right: -180px; position: relative; }
.dt-negative-margin-wide-carousel .dt-carousel-navigation { display: table; line-height: 0; margin: 0 45px; position: absolute; bottom: 0; right: 100%; text-align: center; width: 33.33%; }
.dt-negative-margin-wide-carousel .dt-carousel-navigation:before, .dt-negative-margin-wide-carousel .dt-carousel-navigation:after { background-color: currentColor; content: ""; height: 1px; opacity: 0.2; position: absolute; top: 50%; width: 45%; z-index: -1; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.dt-negative-margin-wide-carousel .dt-carousel-navigation:before { left: 0; }
.dt-negative-margin-wide-carousel .dt-carousel-navigation:after { right: 0; }

.dt-sc-dark-bg .dt-negative-margin-wide-carousel .dt-carousel-navigation:before, .dt-sc-dark-bg .dt-negative-margin-wide-carousel .dt-carousel-navigation:after { background-color: #fff; }

.dt-negative-margin-wide-carousel .dt-carousel-navigation > div > a:hover { background-color: #fff; color: initial; }


.dt-custom-bordered-clients-carousel { margin-bottom: 0; padding-bottom: 0; }
.dt-custom-bordered-clients-carousel .slick-slide { border-style: solid; border-width: 1px; padding: 20px; position: relative; }
.dt-custom-bordered-clients-carousel .slick-slide:before { content: ""; display: inline-block; opacity: 0; position: absolute; bottom: -1px; left: -1px; right: -1px; top: -1px; z-index: 0; }

.dt-custom-bordered-clients-carousel .slick-slide:hover:before { opacity: 0.5; }


.dt-carousel-with-active-item-to-top .slick-list { padding-top: 40px; padding-bottom: 40px; }
.dt-carousel-with-active-item-to-top .slick-slide { -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }
.dt-carousel-with-active-item-to-top .slick-list:hover .slick-slide:nth-child(2n), .dt-carousel-with-active-item-to-top .slick-list .slick-slide:nth-child(2n+1) { -webkit-transform: translateY(-40px); transform: translateY(-40px); }
.dt-carousel-with-active-item-to-top .slick-list .slick-slide:nth-child(2n), .dt-carousel-with-active-item-to-top .slick-list:hover .slick-slide:nth-child(2n+1) { -webkit-transform: translateY(0); transform: translateY(0); }
/* .dt-carousel-with-active-item-to-top img { width: 285px !important } */


.ult-carousel-wrapper { cursor: grab; }

.ult-carousel-wrapper.with-custom-carousel-arrows button[class*="slick"] { height: 25px; text-align: center; width: 40px; }
.ult-carousel-wrapper.with-custom-carousel-arrows button[class*="slick"],
.ult-carousel-wrapper.with-custom-carousel-arrows button[class*="slick"]:before { line-height: 25px; }

.ult-carousel-wrapper.with-custom-carousel-arrows button[class*="slick"]:before { display: inline-block; font-family: FontAwesome; font-size: 30px; height: 100%; opacity: 1; width: 100%; }
.ult-carousel-wrapper.with-custom-carousel-arrows button.slick-prev:before { content: "\f177"; }
.ult-carousel-wrapper.with-custom-carousel-arrows button.slick-next:before { content: "\f178"; }
.ult-carousel-wrapper.with-custom-carousel-arrows button[class*="slick"] > i { display: none; }



.dt-skin-primary-bg .dt-sc-counter.type1.no-border-without-icon .dt-sc-counter-number::after, .dt-sc-team.dt-simple-with-social-on-overlay .dt-sc-team-thumb:before, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb:before { background-color: #121212; }
.dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-thumb .dt-sc-team-social:before { background-color: #909090; }
.dt-skin-primary-bg.dt-sc-dark-bg .dt-sc-counter.type1.no-border-without-icon .dt-sc-counter-number::after { background-color: #fff; }

.dt-custom-bordered-clients-carousel .slick-slide { border-color: rgba(0,0,0,0.08); }

.dt-skin-primary-bg.dt-sc-dark-bg .dt-sc-counter.type1.no-border-without-icon .dt-sc-counter-number, .dt-skin-primary-bg.dt-sc-dark-bg .dt-sc-counter.type1.no-border-without-icon h4, .dt-sc-contact-info.simple-with-block-icon span, .dt-custom-call-to-action-link, .dt-custom-call-to-action-link a, .dark-list li, .dt-sc-contact-info.alter a { color: #121212; }

.dt-sc-contact-info.simple-with-block-icon a:not(:hover), .dt-sc-counter.type1.dt-rounded-box-with-bgfill h4, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details, .dt-sc-team.type2.dt-simple-without-bg .dt-sc-team-details p, .dt-custom-job-post-list-wrapper ul li a:not(:hover), .dt-custom-job-post-list-wrapper ul li a span { color: #909090; }

.dt-sc-counter.type1.dt-rounded-box-with-bgfill:hover, .dt-sc-counter.type1.dt-rounded-box-with-bgfill:hover > * { color: #fff; }

/* Forms */
.dt-bottom-only-bordered input[type="text"], .dt-bottom-only-bordered input[type="email"], .dt-bottom-only-bordered textarea,
.dt-quick-contact-form input[type="text"], .dt-quick-contact-form input[type="email"], .dt-quick-contact-form textarea, .dt-quick-contact-form select { border-width: 0 0 1px; }

.dt-quick-contact-form input[type="text"], .dt-quick-contact-form input[type="email"], .dt-quick-contact-form textarea, .dt-quick-contact-form select { padding-left: 5px; padding-right: 5px; }

.dt-quick-contact-form p { display: block; float: left; margin-bottom: 10px; width: 100%; }
.dt-quick-contact-form .selection-box:before { border: none; content: "\f107"; font-family: FontAwesome; height: 20px; top: 0; bottom: 0; margin: auto; font-size: 16px; }
.dt-quick-contact-form input[type="number"] { padding-right: 15px; }
.dt-quick-contact-form .selection-box select { height: auto;  }
.dt-quick-contact-form .selection-box:after { border: 0; }
.dt-quick-contact-form input[type="submit"] { text-transform: capitalize; width: 100%; }
.dt-quick-contact-form .ajax-loader { position: absolute; }
.dt-quick-contact-form .wpcf7-form-control-wrap:hover::before { background-color: #000; }

.dt-sc-sidnav-down .wpb_text_column.wpb_content_element { margin-bottom: 15px; border-bottom: 1px solid rgba(0, 0, 0, .1); padding-bottom: 15px; }
.dt-sc-sidnav-down .wpb_text_column.wpb_content_element:last-child { margin: 15px 0 15px; border:  none; }


.dt-quick-contact-form { background-color: #fafafa; float: left; padding: 0 25px 20px; width: 100%; }
.dt-quick-contact-form h5 { font-size: 20px; margin: 0 -25px 10px; padding: 10px 30px; }
.dt-sc-quote-widget { margin: 0; padding: 35px 15px 45px; }

.dt-sc-our-branch h6 { text-transform:uppercase; margin-bottom: 10px; }
.dt-sc-black-bg { background:#121212; }

.dt-sc-icon-display img { max-width:65%; }

/**** .dt-sc-icon-box.type3 ****/

.dt-sc-icon-box3-flat-color .dt-sc-icon-box.type3 { padding:16% 0; transition:all 0.3s linear 0s; }

.dt-sc-icon-box3-flat-color .dt-sc-icon-box.type3:hover { background:#121212; }

.dt-sc-icon-box3-flat-color .dt-sc-icon-box.type3 .icon-content p { padding:0 50px; }

.dt-sc-fullwidth-two-col-right { background: #191919; }

.dt-sc-box-section { border:8px solid #121212; padding:28% 0px;  margin:0 12%; transition:all 0.3s linear 0s; }
.dt-sc-box-section:hover { border-radius:50%; cursor:pointer;  }
.dt-sc-box-section-white { border:8px solid #fff; padding:28% 0px; margin:0 12%; transition:all 0.3s linear 0s; }
.dt-sc-box-section-white:hover { border-radius:50%; cursor:pointer;  }

.latest-blog .blog-entry.blog-modern-style .entry-details { box-shadow:3px 3px 0px 0px rgba(41, 217, 194, 0.1); transition:all 0.3s linear 0s; }
.latest-blog .blog-entry.blog-modern-style:hover .entry-details { box-shadow:3px 3px 0px 0px rgba(41, 217, 194, 1); }

.slider-position .uvc-tilt-left-seperator { position: absolute; top: -234px; }

.dt-sc-top-section-negative { margin-top:-240px; }

.dt-sc-portfolio-tilt-negative .uvc-tilt-left-seperator { bottom:0; }

.ult-ih-description p { font-size: 14px; line-height: 24px; padding: 0 10px; margin-top:20px; color:#fff !important; }
.ult-ih-heading { font-size: 24px; line-height: 60px; }
.ult-ih-description p { padding: 0 30px !important; }

.dt-sc-font-weight-400 h5 { font-weight:300; line-height:40px; }
.dt-sc-display-txt .dt-sc-title.with-two-border > ::before { background-color: #fff; }
.dt-sc-display-txt .dt-sc-title.with-two-border > ::after { background-color: #fff; }

/* circle */

.circle1 .ult-ih-item.ult-ih-circle::before { background-image: url("../images/icon7-3.png"); position: absolute; 
z-index: 999; color: #fff; top: 39%; transition: all 0.3s linear 0s; text-align: center; content: ""; width: 100%; height: 80px;left: 0;
background-position: center top; background-repeat: no-repeat; }

.circle2 .ult-ih-item.ult-ih-circle::before { background-image: url("../images/icon8-3.png"); position: absolute; 
z-index: 999; color: #fff; top: 39%; transition: all 0.3s linear 0s; text-align: center; content: ""; width: 100%; height: 80px;left: 0;
background-position: center top; background-repeat: no-repeat; }

.circle3 .ult-ih-item.ult-ih-circle::before { background-image: url("../images/icon9-2.png"); position: absolute; 
z-index: 999; color: #fff; top: 39%; transition: all 0.3s linear 0s; text-align: center; content: ""; width: 100%; height: 80px;left: 0;
background-position: center top; background-repeat: no-repeat; }

.circle4 .ult-ih-item.ult-ih-circle::before { background-image: url("../images/icon10-1.png"); position: absolute; 
z-index: 999; color: #fff; top: 39%; transition: all 0.3s linear 0s; text-align: center; content: ""; width: 100%; height: 80px;left: 0;
background-position: center top; background-repeat: no-repeat; }

.circle5 .ult-ih-item.ult-ih-circle::before { background-image: url("../images/icon11-1.png"); position: absolute; 
z-index: 999; color: #fff; top: 39%; transition: all 0.3s linear 0s; text-align: center; content: ""; width: 100%; height: 80px;left: 0;
background-position: center top; background-repeat: no-repeat; }

.circle6 .ult-ih-item.ult-ih-circle::before { background-image: url("../images/icon12-1.png"); position: absolute; 
z-index: 999; color: #fff; top: 39%; transition: all 0.3s linear 0s; text-align: center; content: ""; width: 100%; height: 80px;left: 0;
background-position: center top; background-repeat: no-repeat; }

.circle1:hover .ult-ih-item.ult-ih-circle::before, .circle2:hover .ult-ih-item.ult-ih-circle::before, .circle3:hover .ult-ih-item.ult-ih-circle::before, 
.circle4:hover .ult-ih-item.ult-ih-circle::before, .circle5:hover .ult-ih-item.ult-ih-circle::before, .circle6:hover .ult-ih-item.ult-ih-circle::before { display:none; }

.our-blog .blog-entry .entry-thumb { margin-bottom:0; }

.dt-sc-icon-box.type1.dt-sc-black .icon-wrapper img { width: 150px; max-height: 117px; }
.dt-sc-icon-box.type1.dt-sc-black .icon-content p { margin-bottom: 30px; }
.dt-sc-black { background:#121212; padding:50px 30px; }
.dt-sc-black .dt-sc-button.rounded-border { background:transparent; border-radius:0; border:4px solid #fff; }
.dt-sc-black .dt-sc-button.rounded-border:hover { border-radius:0; border:4px solid; }

.dt-sc-light-bg { color:#121212; }

.dt-sc-fullwidth-btn .dt-sc-button.white.rounded-border:hover, .dt-sc-fullwidth-btn .dt-sc-button.white.bordered:hover, .dt-sc-fullwidth-btn .dt-sc-button.white.fully-rounded-border:hover { color: #000000; }
.dt-sc-fullwidth-btn .dt-sc-button.rounded-border, .dt-sc-fullwidth-btn .dt-sc-button.bordered { border:6px solid; width:100%; border-radius:0; }
.dt-sc-top-content-btn-padding .dt-sc-outline-btn .dt-sc-button.rounded-border, .dt-sc-fullwidth-btn .dt-sc-button.bordered { border:6px solid #121212; border-radius:0; color:#121212;  }
.dt-sc-top-content-btn-padding .dt-sc-outline-btn .dt-sc-button.rounded-border:hover, .dt-sc-fullwidth-btn .dt-sc-button.bordered:hover { border:6px solid; color:#fff; }

.dt-sc-top-content-btn-padding .dt-sc-button.xlarge { font-size: 18px; padding: 20px 60px; }
.dt-sc-black-btn-padding .dt-sc-button.medium { font-size: 14px; padding: 15px 35px; }

.dt-sc-fullwidth-two-col-left-green-color { background: #00dec1; }
.dt-sc-fullwidth-two-col-right { background: #191919; }
.dt-sc-fullwidth-two-col h2 { font-size:40px; line-height:60px; }
.dt-sc-fullwidth-two-col.dt-sc-button.white.rounded-border:hover, .dt-sc-fullwidth-two-col.dt-sc-button.white.bordered:hover, .dt-sc-fullwidth-two-col.dt-sc-button.white.fully-rounded-border:hover { color: #fff; background: #000; border-color: #000; }

.light-weight { font-weight: 300; }
.dt-sc-border-right-btm { border-right:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; transition:all 0.3s linear 0s; }
.dt-sc-border-right-btm:hover, .dt-sc-border-btm:hover, .dt-sc-border-right:hover, .dt-sc-border-none:hover { background:#22c2ad; }
.dt-sc-border-right-btm:hover img, .dt-sc-border-btm:hover img, .dt-sc-border-right:hover img, .dt-sc-border-none:hover img { filter: brightness(0) invert(1); -webkit-filter: brightness(0) invert(1); -moz-filter: brightness(0) invert(1); -ms-filter: brightness(0) invert(1); }
.dt-sc-border-btm { border-bottom:1px solid #f1f1f1; transition:all 0.3s linear 0s; }
.dt-sc-border-right { border-right:1px solid #f1f1f1; transition:all 0.3s linear 0s; }
.dt-sc-border-none { border:0; transition:all 0.3s linear 0s; }
.dt-sc-partner .vc_column_container > .vc_column-inner { padding:0px; }

.dt-sc-vc-column-width-col-8.vc_col-sm-8 { width: 60%; }
.dt-sc-vc-column-width-col-4.vc_col-sm-4 { width: 40%; padding-left: 3% !important; }

.dt-process-steps-counter-alter img { opacity: 1 !important;  transition:all 0.3s linear 0s; }
.dt-process-steps-counter-alter:hover img { opacity: 0.2 !important; }
.dt-process-steps-counter-alter .dt-sc-image-content { opacity: 0;  transition:all 0.3s linear 0s; }
.dt-process-steps-counter-alter:hover .dt-sc-image-content { opacity: 1;  transition:all 0.3s linear 0s; }

.dt-sc-portfolio-icon-only ul.slick-dots { bottom: -20px; }
.dt-sc-img-border-radius img { border-radius:30px; }

.dt-negative-margin-wide-carousel { margin-left: -180px; margin-right: 0; }
.dt-negative-margin-wide-carousel ul.slick-dots { padding: 40px 0; }

/*--------------------------------------------------------------
2.0 - Browser Fix
--------------------------------------------------------------*/
/* IE9 and above override */	
@media screen and (min-width:0\0) { 
		
	.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 71px 0 0; }
	
}
/* IE9 only override */	
.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }	

/*--------------------------------------------------------------
3.0 - DT Responsive
--------------------------------------------------------------*/


    @media only screen and (min-width:1200px) and (max-width:1680px) {
    		.dt-negative-margin-wide-carousel .dt-carousel-navigation { margin: 0; position: absolute; bottom: 0; right: auto; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
			.our-blog .uvc-tilt-left-seperator { bottom:-20px; }

}

	@media only screen and (min-width:1200px) and (max-width:1380px) {
		
       .dt-sc-box-section { padding: 31% 0px; margin: 0 5%; }       
       .dt-sc-box-section-white { padding: 31% 0px; margin: 0 5%; }
	   .dt-sc-light-bg .wpb_column:nth-child(2) .vc_column-inner, .dt-sc-black .wpb_column:first-child .vc_column-inner { padding:0 15px !important; }
		.ult-ih-container ul.ult-ih-list li.ult-ih-list-item, .ult-ih-item.ult-ih-circle .ult-ih-image-block, .ult-ih-item.ult-ih-circle { width:100% !important; height:100% !important; }
		.ult-ih-item.ult-ih-circle .ult-ih-image-block { overflow:hidden; }
		.ult-ih-item.ult-ih-circle .ult-ih-image-block .ult-ih-wrapper { left:50%; top:50%; transform:translate(-50%, -50%); }
		.ult-ih-item .ult-ih-heading-block .ult-ih-heading { padding:0 30px; }
		
	}

    @media only screen and (min-width:768px) and (max-width:1199px) {
		
	.dt-negative-margin-wide-carousel { margin-left: -15px; margin-right: -15px; }

	.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-wrapper, 
	.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content { margin-right:0; padding-left: 15px; padding-right: 15px; width:100%; }

	.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-wrapper { margin: 20px 0; }
	.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content { position: static; top: auto; transform: none; -moz-transform: none; -webkit-transform: none; -ms-transform: none; }	
	
	.dt-sc-box-section { padding: 26% 0px; margin: 0 0%; }   
	.dt-sc-box-section-white { padding: 26% 0px; margin: 0 0%; }   
	.dt-sc-box-section h3, .dt-sc-box-section-white h3 { font-size:28px; }
	.ult-ih-container ul.ult-ih-list li.ult-ih-list-item, .ult-ih-item.ult-ih-circle .ult-ih-image-block, .ult-ih-item.ult-ih-circle { width:100% !important; height:100% !important; }
	.ult-ih-item.ult-ih-circle .ult-ih-image-block { overflow:hidden; }
	.ult-ih-item.ult-ih-circle .ult-ih-image-block .ult-ih-wrapper { left:50%; top:50%; transform:translate(-50%, -50%); }
	.ult-ih-item .ult-ih-heading-block .ult-ih-heading { padding:0 30px; }
	.our-blog .uvc-tilt-left-seperator { bottom:-50px; }

}	

/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
	
	
	/*----*****---- << Hosting >> ----*****----*/
	.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:10px; }
	
	/*----*****---- << Restaurant >> ----*****----*/
	.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }
	
	/*----*****---- << Miscellaneous >> ----*****----*/
	.dt-sc-text-with-icon { font-size: 13px; }
	
	.dt-sc-image-caption.type8 .dt-sc-image-title h6 { line-height: normal; }


	/*----*****---- << Custom Class Elements >> ----*****----*/
	
	.dt-negative-margin-wide-carousel .dt-carousel-navigation { bottom: 100%; right: auto; width: auto; -webkit-transform: translateX(55px) translateY(-240px); transform: translateX(55px) translateY(-240px); }		

	.portfolio.type3 .image-overlay .links a { font-size: 16px !important; }
	div.pp_default .pp_description { margin: 10px 50px 5px 0 !important; }
	.page-with-sidebar .portfolio.type1 .image-overlay .links a, .page-template-tpl-portfolio .portfolio.type1.dt-sc-one-third .image-overlay .links a, .page-template-tpl-portfolio .portfolio.type1.dt-sc-one-fourth .image-overlay .links a {margin: 20px 0px 0px 5px; }
	.portfolio.type2.dt-sc-one-third .image-overlay .links, .page-with-sidebar .portfolio.type2.dt-sc-one-fourth .image-overlay .links { bottom: 44px; }
	
   .dt-sc-box-section { padding: 35% 0px; margin: 0 0%; }   
   .dt-sc-box-section-white { padding: 35% 0px; margin: 0 0%; }
   .dt-sc-light-bg .wpb_column:nth-child(2) .vc_column-inner, .dt-sc-black .wpb_column:first-child .vc_column-inner { padding:0 15px !important; }
   .dt-sc-fullwidth-two-col h2 { font-size:30px; line-height:40px; }
   .ult-ih-item .ult-ih-heading-block .ult-ih-heading { font-size:22px !important; line-height:30px !important; }

}
 /* Note: Design for a width of 768px */
     @media only screen and (min-width:768px) and (max-width:991px) {
	
	.dt-sc-text-with-icon { font-size: 11px; }
	
	.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 { padding-left: 5px; padding-right: 5px; }
	.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 { font-size: 13px; padding-left: 10px; padding-right: 10px; }
	.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6 { font-size: 15px; }
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 76px 0 0; }	
	
	.rs_line_height p { line-height:normal !important; }

	
	/*----*****---- << Event >> ----*****----*/
	.dt-sc-content-with-hexagon-shape { margin-left:16%; }
	.event-colored-box { margin-top:0; }
	.event-contact-info { margin-left:25%; }
	
	/*----*****---- << Architecture >> ----*****----*/
	.architecture-process.rs_padding_override { padding-left:20px !important; padding-right:20px !important; }
	.column.wpb_column.dt-sc-one-fifth.vc_col-md-4 { width:32%; margin-bottom:20px; min-height:290px; }
	.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4), .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10) { margin-left:0; }
		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 40px; }
		/*----*****---- << Custom Class Elements >> ----*****----*/
	.dt-negative-margin-wide-carousel .dt-carousel-navigation { margin: 0; bottom: 100%; right: auto; -webkit-transform: translateX(55px) translateY(-175px); transform: translateX(55px) translateY(-175px); }
	.rs_col-sm-8 .dt-sc-icon-box.type1 { margin-bottom:20px; }

	.vc_row.vc_row-o-equal-height>.vc_column_container>.vc_column-inner>.wpb_wrapper>.responsive-map {top: auto !important; } 	

}

/*----*****---- << Mobile (Landscape) >> ----*****----*/	
/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {
	.fitness-form-container.extend-bg-fullwidth-right::after { background-color:transparent; }
	.fitness-form-container.extend-bg-fullwidth-right .vc_column-inner { padding-left:30px !important; padding-right:30px !important; }
	.fitness-contact-boxes .wpb_text_column, .fitness-contact-boxes .wpb_text_column:nth-child(2), .fitness-contact-boxes .wpb_text_column:last-child, .fitness-contact-boxes .wpb_text_column:nth-child(3) { width:100%; padding:10px 0px; }
	
	.hotel_blockquote-type4 blockquote.type4 { margin-top:0; }
	
	.event-colored-box { margin-top:0; }
	.event-contact-info.wpb_column { width: 320px; padding: 85px 30px 30px; float: none; }
		
	
	.gradient-parallax:before { background: -moz-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
		background: -webkit-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
        background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }

	
	/*----*****---- << Hosting >> ----*****----*/
	.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0; }
	.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:100px; }
	.rs_client_testimonial-center .dt-sc-image-flip a { position:relative; display:block; }
	.rs_client_testimonial-center .dt-sc-image-flip { text-align:center; }
	
	.hosting-table th { font-size:13px; padding:13px 10px; text-transform: capitalize; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:13px; padding:21px 10px; }
	.hosting-contact-info-container:before { content:none; }
	
	.extend-bg-fullwidth-left::after { content:none !important; }
	
	
	/*----*****---- << Custom Class Elements >> ----*****----*/
	
	.dt-negative-margin-wide-carousel { margin-left: -15px; margin-right: -15px; }
	.dt-image-with-anti-corner-frame { width: 90%; }

	.dt-negative-margin-wide-carousel .dt-carousel-navigation { bottom: 100%; right: auto; width: auto; -webkit-transform: translateX(55px) translateY(-80px); transform: translateX(55px) translateY(-80px); }

	.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content { padding-bottom: 0; padding-left: 15px; padding-right: 15px;}

	.dt-process-steps-counter-wrapper .dt-process-steps-counter { padding-bottom: 20px; }
	.dt-process-steps-counter .with-counter-num-value, .dt-process-steps-counter.alter .with-counter-num-value { margin-left: 0; margin-right: 0; }

	.dt-custom-job-post-list-wrapper ul li a, .dt-custom-job-post-list-wrapper ul li span { display: block; float: none; text-align: center; }


	/*----*****---- << Custom Class >> ----*****----*/
	.rs_col_no_btm_space .wpb_column, .rs_col_no_btm_space.wpb_column { margin-bottom: 0; } 
	.rs_negative-margin_override.vc_row { margin-left:0 !important; }
				
	.rs_padding_override_zero.vc_row,
	.rs_padding_override_zero.wpb_column .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }
	
	.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 30px; }
	
	.rs_padding_override.vc_row, 
	.rs_padding_override.wpb_column .vc_column-inner { padding-left: 50px !important; padding-right: 50px !important; }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after, 
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after,
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right:not(.vc_col-has-fill):after, 
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { margin:0 -15px; left:0; right: 0; transform: none; }
	.timeline-details-nav { margin-top:20px; }
	
	.dt-sc-box-section { padding: 18% 0px; margin: 0 26%; }   
	.dt-sc-box-section-white { padding: 18% 0px; margin: 0 26%; }	
	.dt-sc-box-section h3, .dt-sc-box-section-white h3 { font-size:28px; }
	.dt-sc-light-bg .wpb_column:nth-child(2) .vc_column-inner, .dt-sc-black .wpb_column:first-child .vc_column-inner { padding:0 15px !important; }
	.dt-sc-black { padding:20px 0; }
	.dt-sc-fullwidth-two-col h2 { font-size:25px; line-height:35px; }
	#rev_slider_2_1_wrapper .fullwidthabanner { min-height:550px; }
	.vc_row.dt-sc-fullwidth-btn { margin-top:-40px !important; }
	.dt-sc-fullwidth-btn .wpb_column { width:50%; }
	.dt-sc-fullwidth-btn .dt-sc-button.rounded-border { padding:12px 10px; font-size:14px; border-width:4px; }
	
	.dt-sc-vc-column-width-col-8.vc_col-sm-8, .dt-sc-vc-column-width-col-4.vc_col-sm-4 { width:100%; }
	.dt-sc-vc-column-width-col-4.vc_col-sm-4 { padding-left:15px !important; }
	.slider-position .uvc-tilt-left-seperator, .ult-vc-seperator svg { display:none; }

	.vc_row.vc_row-o-equal-height>.vc_column_container>.vc_column-inner>.wpb_wrapper>.responsive-map {top: auto !important; } 
	
}

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        
        .dt-sc-box-section { padding: 25% 0px; margin: 0 15%; }       
        .dt-sc-box-section-white { padding: 25% 0px; margin: 0 15%; }        
        .dt-sc-box-section h3, .dt-sc-box-section-white h3 { font-size:28px; }
        
    }

/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
	
	/*----*****---- << Event location page >> ----*****----*/
	.event-contact-info.wpb_column { width:100%; margin:20px 0px 0px 0px; }
	.event-contact-info:before { left:0px; width:100%; background-size:100%; }
	.event-contact-info .dt-sc-sociable li { margin-bottom:20px; }
		/*----*****---- << Custom Class >> ----*****----*/
	.rs_padding_left-override.vc_row .vc_column-inner, .rs_padding_left-override.wpb_column .vc_column-inner { padding-left:15px !important; }
	.vc_row.vc_row-no-padding .responsive-padding > .vc_column-inner { padding-right: 35px; padding-left: 35px; }
	
	/*----*****---- << Attorney >> ----*****----*/
	.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame { display: block; min-height: auto !important; width: 100%; }
	.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame, 
	.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a { margin: 0; }
	.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a.current, .dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a { border-right:1px solid rgba(0, 0, 0, 0.1); }
	.dt-sc-tabs-vertical-frame-container.rs_align_middle .dt-sc-tabs-vertical-frame-content { margin-top: 1px; }
	
	.gradient-content .dt-sc-button.medium { padding: 14px 20px; }
	
	.overflow-content { margin: 0; }
	
	/*----*****---- << Hosting >> ----*****----*/
	.hosting-table th { text-transform:capitalize; font-size:12px; padding:13px 6px; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:12px; padding:22px 8px; }
	
	/*----*****---- << Miscellaneous >> ----*****----*/
	.rs_fontsize_small { font-size: 40px !important; }		
					
	.rs_padding_override.vc_row, 
	.rs_padding_override.wpb_column .vc_column-inner { padding-left: 30px !important; padding-right: 30px !important; }
	
	/*----*****---- << Business >> ----*****----*/	
	.business-contact-social li { margin: 0 15px; }	


	/*----*****---- << Custom Class Elements >> ----*****----*/
	
	.dt-image-caption-counter-wrapper .dt-sc-image-caption.type7 .dt-sc-image-content { padding-left: 20px; padding-right: 20px; }

	.dt-working-hours ul { margin-left: -5px; margin-right: -5px; }
	.dt-working-hours ul, .dt-working-hours ul li strong, .dt-working-hours ul li span { display: table; }

	.dt-custom-call-to-action-link a { font-size: 11px; }
	
	.dt-sc-box-section { padding: 20% 0px; margin: 0 20%; }	
	.dt-sc-box-section-white { padding: 20% 0px; margin: 0 20%; }	
	.dt-sc-box-section h3, .dt-sc-box-section-white h3 { font-size:28px; }
	.vc_row.dt-sc-fullwidth-btn { margin-top:-10px !important; }
	#rev_slider_2_1_wrapper .fullwidthabanner { min-height:450px; }
	.ult-ih-container ul.ult-ih-list li.ult-ih-list-item, .ult-ih-item.ult-ih-circle .ult-ih-image-block, .ult-ih-item.ult-ih-circle { width:100% !important; height:100% !important; }
	.ult-ih-item.ult-ih-circle .ult-ih-image-block { overflow:hidden; }
	.ult-ih-item.ult-ih-circle .ult-ih-image-block .ult-ih-wrapper { left:50%; top:50%; transform:translate(-50%, -50%); }
	.ult-ih-item .ult-ih-heading-block .ult-ih-heading { font-size:20px !important; padding:0 30px; line-height:30px !important; }
				
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 319px) {
	
	/*----*****---- << Event location page >> ----*****----*/
	.event-contact-info.wpb_column { padding-left:20px; padding-right:20px; }
	.event-contact-info .dt-sc-contact-info span { width:100%; text-align:center; float:none; margin:0; }
	
	/*----*****---- << Hosting contact Page >> ----*****----*/	
	.hosting-contact-info-container:before { left:0; }
	.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:0px; }
	.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0px; }
	.hosting-contact-info-container:before { width:100%; }
	
	/*----*****---- << Hosting Domain Page >> ----*****----*/		
	.hosting-table th { font-size:10px; padding:13px 0; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:10px; padding:21px 7px; }

	/*----*****---- << Common >> ----*****----*/
	.rs_fontsize_small { font-size: 32px !important; }
	
	/* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
	.rs_padding_override.vc_row, 
	.rs_padding_override.wpb_column .vc_column-inner { padding-left: 20px !important; padding-right: 20px !important; }
		/*----*****---- << Fitness >> ----*****----*/
	.dt-sc-text-with-icon { font-size: 10px; padding-left: 15px; }
	.dt-sc-text-with-icon span { font-size: 15px; margin-right: 5px; }		
	
	.dt-sc-box-section { padding: 26% 0px; margin: 0 9%; }	
	.dt-sc-box-section-white { padding: 26% 0px; margin: 0 9%; }	
	.dt-sc-box-section h3, .dt-sc-box-section-white h3 { font-size:28px; }
	
}
