
/* Table of Content
==================================================
	1.0  -  404
	2.0  -  Responsive*/

	/*--------------------------------------------------------------
	1.0 - 404
	--------------------------------------------------------------*/
	
	.error404 .dt-sc-dark-bg { background:#000; }
	
	.error404 .vc_row.vc-default-row { margin-left:0; }
	
	.error404, .error404 > .wrapper { width:100%; height:100%; }
	
	.center-content-wrapper { display:table; width:100%; height:100%; }
	.center-content-wrapper .center-content { display:table-cell; width:100%; height:100%; vertical-align:middle; }
	
	
	.error404 h2 { font-size: 170px; font-weight: bold; color: #ff0000; }
	.error404 h3 { font-size:70px; font-weight:bold; }
	.error404 h4 { font-size:60px; font-weight:300; }
	.error404 .dt-sc-button, .error404 .dt-sc-button.type2 { color: #fff; padding: 15px 35px; display: inline-block; letter-spacing:1.5px; }
	.error404 .type2 #dt-style-picker ul li::before, .error404 #dt-style-picker ul li:before { content:none; }
	.error404 .type2 #dt-style-picker h3, .error404 #dt-style-picker h3 { letter-spacing:0; text-transform:capitalize; }
	.error404 #dt-style-picker h2 { top:0; }
	
	.error404 .dt-sc-fancy-list { display:inline-block; list-style:none; }
	.error404 ul.dt-sc-fancy-list li { padding-left:0; }
	.error404 ul.dt-sc-fancy-list li:before { content: "\f22d"; font-family:FontAwesome; margin-right:10px; position:inherit; top:0; }
	
	.error-box-inner * { text-align: center; }
	
	.error404 .type1 .dt-style-picker-wrapper i { color:#fff; } 
	
	.error404 .menu-links { margin:40px 0px; }
	.error404 .menu-links li { display:inline-block; text-transform:uppercase; font-size:16px; padding:0; margin:0px 2px 5px; }
	.error404 .menu-links li a { color:#131313; padding:7px 20px; display:inline-block; background:rgba(0, 0, 0, 0.05); }
	.error404 .menu-links li:hover a { background:#000; color:#fff; }
	
	
	.error404 #searchform .dt-search-icon { display:none; }
	.error404 #searchform { display: inline-block; margin: 0 auto; position: relative; width: 60%; }
	.error404 #searchform input[type="text"], .error404 #searchform input[type="submit"] { height:52px; }
	.error404 #searchform input[type="submit"] { border-radius: 0; padding: 13px 20px 13px; position: absolute; right: 0px; top: 0px; margin-top:0; }
	
	/*----*****---- << Type 1 >> ----*****----*/
	.error404 .type1 h2 { line-height:170px; }
	.error404 .type1 .center-content-wrapper { text-align:center; }
	.error404 .type1 h3, .error404 .type1 h4 { font-family: 'Raleway', sans-serif; }
	.error404 .type1 h3 { font-size:100px; font-weight:300; text-transform:uppercase; margin-bottom:0; letter-spacing:20px; }
	.error404 .type1 h4 { text-transform:uppercase; font-size:42px; font-weight:300; }
	
	.error404 .type1 .dt-sc-go-back { border-bottom: 1px solid #000; border-top: 1px solid #000; display: inline-block; padding: 35px 0; min-width:530px; }
	.error404 .type1 i { font-size:16px; color:#000000; font-style:normal; display:inline-block; font-weight:bold; margin-bottom:25px; }
	.error404 .type1 .dt-sc-button { display:inline-block; background:#000; padding:15px 35px 16px 15px; font-size:18px; text-transform:uppercase; color:#fff; position:relative; line-height:29px; }
	.error404 .type1 .dt-sc-button:before { border-bottom: 30px solid transparent; border-right: 30px solid #000; border-top: 30px solid transparent; content: ""; display: inline-block; height: 0; left: -30px; position: absolute; top: 0; width: 0; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	.error404 .type1 .dt-sc-button:hover { background-color:#1a1a1a; }
	.error404 .type1 .dt-sc-button:hover:before { border-right-color:#1a1a1a; } 
	
	.error404 .type1 #searchform { width:530px; display:inline-block; float:none; padding:0; position:relative; }
	.error404 .type1 #searchform input[type="text"] { width:100%; background:rgba(0,0,0,0.05); border:1px solid rgba(0,0,0,0.06); font-size:16px; padding:15px 15px; }
	.error404 .type1 #searchform input[type="submit"] { position:absolute; right:18px; top:15px; text-indent:-9999px; background:url(../images/submit-ico-dark.png) no-repeat 0 0 / 20px 22px; display:block; padding:0; width:25px; height:26px; margin-top:0; }
	
	/* white */
	.error404 .type1 .white h3, .error404 .type1 .white h4, .error404 .type1 .white i { color:#fff; }
	.error404 .type1 .white .dt-sc-newsletter-section input[type="email"] { background:#000; border-color:#d3d3d3; }
	
	/*----*****---- << Type 2 >> ----*****----*/
	.error404 .type2 .vc_col-sm-6:first-child { text-align:center; padding:0px 20px; }
	.error404 .type2 h2 { font-size:200px; font-weight:bold; display:inline-block; line-height:140px; top:-10px; position:relative; margin-bottom:0; }
	.error404 .type2 h3 { font-size:100px; font-weight:300; letter-spacing:20px; text-transform:uppercase; line-height: 90px; }
	.error404 .type2 h4 { font-size:42px; font-weight:300; text-transform:uppercase; border-bottom:2px solid #d0d0d0; padding-bottom:30px; margin-bottom:30px; margin-left:auto; margin-right:auto; width:570px; }
	
	.error404 .type2 .vc_col-sm-6 { padding:0px 0 0 30px; }
	.error404 .type2 { font-size:16px; color:#888888; }
	.error404 .type2 p { font-size:15px; }

	.error404 .dt-sc-dark-bg.type2 p { color: #fff; }
	.error404 .dt-sc-dark-bg #searchform input[type="text"] { color: #fff; width: 100%; }
	
	.error404 .type2 a.dt-sc-back { color: #fff; display: inline-block; padding: 15px 50px; font-size:16px; letter-spacing:1px; text-transform:uppercase; border-radius:25px; }
	
	
	/*----*****---- << Type 3 >> ----*****----*/
	.error404 .type3 { text-align:center; }
	.error404 .type3 h5 { font-size:42px; margin-top:10px; }
	.error404 .type3 h4 { font-size:35px; }
	
	.error404 .type3 a.dt-sc-back { background: #333333; color: #fff; display: inline-block; padding: 15px 30px; font-size:14px; }
	.error404 .type3 a.dt-sc-back i { color:#999999; margin-right:5px; }
	.error404 .type3 .dt-sc-go-back .wpb_wrapper > i { font-size:20px; line-height:normal; font-style:normal; color:#333333; }
	
	.error404 .type3 a.dt-sc-back:hover, .error404 .type3 .dt-sc-newsletter-section input[type="submit"]:hover { background:#000; }
	
	.error404 .type3 #searchform { display:inline-block; float:none; width:auto; padding:0; position:relative; min-width:500px; }
	.error404 .type3 #searchform input[type="text"] { background:#dedede; padding:15px 20px; font-size:16px; width:100%; height:55px; margin-right:0; }
	.error404 .type3 #searchform input[type="submit"] { margin-top: 0; padding: 15px 20px; position: absolute; right: 3px; top: 3px; background:#333333; text-transform:capitalize; font-size:16px; height:49px; }
	.error404 .type3 .event #searchform input[type="submit"] { padding:15px 20px; height:49px; }
	
	/*----*****---- << Type 4 >> ----*****----*/
	.error404 .type4 { text-align:center; }
	
	.error404 .type4 .error-box { padding:50px; border-radius: 100px 0px 100px 0px; display:inline-block; width:350px; height:350px; box-sizing:border-box; margin-top:40px; margin-bottom:40px; }
	.error404 .type4 .error-box h2, .error404 .type4 .error-box h3, .error404 .type4 .error-box h4 { color:#fff; text-transform:uppercase; }
	.error404 .type4 .error-box h2 { font-size:120px; font-family: 'Courgette', cursive; color:#fff; margin-bottom:0; position:relative; top:-16px; }
	.error404 .type4 .error-box h3 { font-size:54px; margin-bottom:0px; }
	.error404 .type4 .error-box h4 { font-size:24px; }
	
	.error404 .type4 .error-text { font-size:24px; color:#999999; line-height:36px; font-weight:300; }
	
	.error404 .type4 #searchform input[type="text"], .error404 .type4 .error-text { font-family: 'Josefin Sans', sans-serif; }
	
	.error404 .type4 #searchform { display: inline-block; min-width:475px; float:none; width:auto; padding:0; }
	.error404 .type4 #searchform { position:relative; float:none; width:auto; }
	.error404 .type4 #searchform input[type="text"] { width:100%; background:#fafafa; border:1px solid #e6e6e6; border-radius:3px 4px 4px 3px; font-size:18px; color:#000000; padding:19px 12px 18px; margin-right:0; height:60px; }
	.error404 .type4 #searchform input[type="submit"] { position:absolute; right:0; top:0; margin-top:0; border-radius:0 3px 3px 0; height: 60px; padding: 16px 30px 17px; text-transform:capitalize; font-size:20px; font-weight:normal; }
	
	/*----*****---- << Square >> ----*****----*/
	.error404 .type4 .error-box.square { border-radius:0; transform:rotate(42deg); margin-bottom:80px; }
	.error404 .type4 .error-box.square .error-box-inner { transform:rotate(-42deg); }
	.error404 .type4 .error-box.square h2 { font-family:Open Sans,sans-serif; line-height:140px; }
	.error404 .type4 .white .error-text { color:#fff; }
	
	
	/*----*****---- << Type 5 >> ----*****----*/
	.error404 .type5 { text-align:center; }
	
	.error404 .type5 .wpb_wrapper { margin: 0 auto; }
	
	.error404 .type5 #searchform { position: relative; width: 500px; }
	.error404 .type5 #searchform input[type="text"] { background:#f5f5f5; padding:20px; font-size:16px; border-radius:35px; width:100%; margin-right:0; }
	.error404 .type5 #searchform input[type="submit"] { text-indent:-9999px; padding: 0; position: absolute; right: 24px; top: 13px; background:url(../images/submit-bg1.png) no-repeat; display:block; width:23px; height:24px; margin-top:0; background-size:23px 24px; }
	
	.error404 .type5 h2 { color: #ff0000; font-size: 280px; text-shadow: 0px 20px 0 #1a1a1a; font-family: 'Raleway', sans-serif; line-height:270px; position:relative; top:-20px; }
	.error404 .type5 h3 { font-size:70px; font-family: 'Lato', sans-serif; font-style:italic; color:#666666; font-weight:bold; }
	
	.error404 .type5 .error-top, .error404 .type5 .error-bottom { font-size:40px; color:#fff; position:relative; }
	.error404 .type5 .error-top { top:35px; } 
	.error404 .type5 .error-bottom { top:-41px; }
	
	.error404 .type5 a.dt-go-back { background:#5c5c5c; color:#fff; padding-right:20px; display:inline-block; }
	.error404 .type5 a.dt-go-back i { background:#fff; color:#1a1a1a; display:inline-block; line-height:20px; padding:15px; margin-right:15px; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.error404 .type5 a.dt-go-back:hover { background:#fff; color:#1a1a1a; }
	.error404 .type5 a.dt-go-back:hover i { background:#5c5c5c; color:#fff; }
	
	
	
	/*----*****---- << Type 6 >> ----*****----*/
	.error404 .type6 { text-align:center; font-family: 'Raleway', sans-serif; }
	
	.error404 .type6 .error-box { position:relative; display:inline-block; z-index:1; padding:50px 20px 20px 20px; width:390px; min-height:450px; margin-bottom:40px; }
	.error404 .type6 .error-box:before { content:""; background:rgba(0,0,0,0.4); display:inline-block; width:385px; height:385px; border:3px solid rgba(255,255,255,0.3); transform: rotate(20deg); position:absolute; top:0; left:0; right:0; z-index:-1; }
	.error404 .type6 .error-box:after { content:""; background:rgba(0,0,0,0.4); display:inline-block; width:385px; height:385px; border:3px solid rgba(255,255,255,0.3); transform: rotate(25deg); position:absolute; top:0; left:0; right:0; z-index:-1; }
	.error404 .type6 .error-box h3 { font-size:65px; color:#fff; text-transform:uppercase; font-family: 'Raleway', sans-serif; font-weight:300; letter-spacing:15px; }
	.error404 .type6 .error-box h2 { color: #ff0000; font-family: 'Raleway', sans-serif; font-size: 164px; line-height: 140px; margin-bottom: 0; position: relative; top: -15px; text-shadow: 0 5px 5px #000; }
	.error404 .type6 .error-box h4 { color:#fcdb34; text-transform:uppercase; font-family: 'Raleway', sans-serif; font-size:30px; }
	
	.error404 .type6 .error-text { color:#fff; font-size:22px; font-family: 'Raleway', sans-serif; line-height:40px; font-weight:normal; }
	
	.error404 .type6 a.dt-go-back { background:rgba(255,255,255,0.3); color:#fff; padding:13px 25px; display:inline-block; font-size:18px; text-transform:uppercase; font-weight:500; margin-bottom:10px; }
	.error404 .type6 a.dt-go-back:hover { background-color:#fff; color:#000; }
	
	
	/*----*****---- << Type 7 >> ----*****----*/
	.error404 .type7 { text-align:center; }
	.error404 .type7 .error-content { float:left; display:inline-block; width:630px; text-align:center; }
	.error404 .type7 h2 { line-height:170px; }
	
	.error404 .type7 .dt-go-back { background: #000; border: 5px solid #fff; color: #fff; display: inline-block; font-size: 16px; height: 98px; line-height: 98px; position: relative; text-transform: uppercase; transform: rotate(45deg); width: 98px; }
	.error404 .type7 .dt-go-back i { transform:rotate(-45deg); display:inline-block; font-style:normal; }
	
	.error404 .type7 .error-text { font-size:42px; line-height:55px; margin-bottom:0; }
	
	.error404 .type7 #searchform { position:relative; display: inline-block; min-width:500px; padding:0; }
	.error404 .type7 #searchform input[type="text"] { background:rgba(0, 0, 0, 0.1); border:0; font-size:16px; padding:16px 20px 15px; height:54px; width:100%; border-radius:3px; margin-right:0; }
	.error404 .type7 #searchform input[type="submit"] { position:absolute; right:0; top:0; background:#000000; color:#fff; margin-top:0; padding:18px 20px 19px; height:54px; border-radius:0 3px 3px 0px; }
	.error404 .type7 #searchform input[type="submit"]:hover { background:#fff; color:#000; }
	
	/** White **/
	.error404 .type7 .white .menu-links li a, .error404 .type7 .white .error-text, .error404 .type7 .white input[type="text"] { color:#fff; }
	
	/*----*****---- << Type 8 >> ----*****----*/
	.error404 .type8 { color:#8997a7; font-size:16px; line-height:30px; font-family: 'Raleway', sans-serif; }
	.error404 .type8 h3 { z-index: 1; position: relative; text-transform: uppercase; margin-bottom: 0; font-weight: 100; font-size: 100px;  }
	.error404 .type8 h2 { font-size: 200px; line-height: 170px; margin-bottom: 0; position: relative; top: -20px; font-family: 'Raleway', sans-serif; margin: 20px 0; }
	.error404 .type8 h4 { font-size:42px; text-transform:uppercase; font-weight:300; }
	
	.error404 .type8 .error-text { font-size:20px; color:#a5a5a5; font-style:normal; line-height:40px; }
	
	.error404 .type8 .dt-go-back { padding:14px 20px; color:#000000; font-size:20px; display:inline-block; }
	.error404 .type8 .dt-go-back i { color:#fff; margin-right:5px; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear;}
	
	.error404 .type8.ad .dt-go-back:hover { background:#fff; color:#000; }
	
	.error404 .container { height:100%; text-align:center; }
	
	/*----*****---- << Dark Bg >> ----*****----*/
	.error404 .type1.dt-sc-dark-bg #searchform input[type="text"], .error404 .dt-sc-dark-bg #searchform input[type="text"] { background:rgba(255,255,255,0.1); }
	.error404 .dt-sc-dark-bg .menu-links li a { background:rgba(255,255,255,0.1); color:#fff; }
	
	.error404 .type1.dt-sc-dark-bg .dt-sc-button { background:#fff; color:#000;  }
	.error404 .type1.dt-sc-dark-bg .dt-sc-button:before { border-right-color:#fff; }
	.error404 .type1.dt-sc-dark-bg .dt-sc-button:hover { background-color:rgba(255,255,255,0.5); color:#d3d3d3; }
	.error404 .type1.dt-sc-dark-bg .dt-sc-button:hover:before { border-right-color:rgba(255,255,255,0.5); } 
	
	.error404 .type2.dt-sc-dark-bg h4 { border-bottom-color:rgba(255,255,255,0.1); }
	.error404 .type4.dt-sc-dark-bg #searchform input[type="text"] { border-color:rgba(255,255,255,0.06); color:#d3d3d3; }
	.error404 .type7.dt-sc-dark-bg #searchform input[type="submit"] { background:rgba(255,255,255,0.7); color:#333; }
	.error404 .type7.dt-sc-dark-bg #searchform input[type="submit"]:hover { background:#fff; }
	
	.error404 .type8.dt-sc-dark-bg h3, .error404 .type8.dt-sc-dark-bg h4 { color:#fff; }
	
	.error404 .type6.dt-sc-dark-bg .error-box:before, .error404 .type6.dt-sc-dark-bg .error-box:after { background:rgba(255,255,255,0.4); }


	/*--------------------------------------------------------------
	2.0 - Responsive
	--------------------------------------------------------------*/
	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
		/*** 404 ***/
		.error404 .type4 .vc_col-sm-6, .error404 .type7 .vc_col-sm-6, .error404 .type8 .vc_col-sm-6 { width:100%; margin:0; }
		.error404 .type8 .vc_col-sm-6.alignleft { text-align:center; width:100%; }
		
		.error404 .type5 .wpb_wrapper { width:100%; }
		.error404 .type5 h2 { font-size:210px; }
		.error404 .type5 h3 { font-size:50px; }
		.error404 .type5 #searchform { width:100%; }
		.error404 .type5 h2 { text-shadow:0 13px 0 #1a1a1a; }
		
		.error404 .type3 #searchform { width:100%; }
		
		.error404 .type7 .error-content, .error404 .type7 .wpb_wrapper > .alignright { width:100%; }
		.error404 .type5 .wpb_column:first-child .wpb_wrapper { width: 70%; }
		
	}
	
	 /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {
 		
 		/*** 404 ***/
		.error404 .type2 h2 { font-size: 190px; }
		.error404 .type2 h3 { font-size: 90px; }
		.error404 .type2 h4 { font-size:33px; }

		.error404 .type4 .vc_col-sm-6, .error404 .type7 .vc_col-sm-6, .error404 .type8 .vc_col-sm-6, .error404 .type5 .vc_col-sm-6 { width:100%; margin:0; }
		.error404 .type8 .vc_col-sm-6.alignleft { text-align:center; width:100%; }
		.error404 .type5 .vc_col-sm-6 { display:inline-block; height:auto; }
		.error404 .type5 .dt-sc-newsletter-section, .error404 .type5 .error-right { display:inline-block; }
		
		.error404 .type3 .wpb_column { width:100%; margin:0; }
		
		.error404 .type7 .error-content, .error404 .type7 .wpb_wrapper > .alignright { width:100%; }
		.error404 .type8 .alignleft { text-align:center; }
		
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/
    /* Note: Design for a width of 480px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		/*** 404 ***/
		.error404 .type7 .error-content { width:100%; }
		
	}

	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
		
		/*** 404 ***/
		.error404 .type4 .error-box h4 { font-size:12px; }
		.error404 .type1 h3 { font-size:70px; letter-spacing:0; }
		
		.error404 .type6 .error-box::before, .error404 .type6 .error-box::after { width:225px; height:225px; }
		.error404 .type6 .error-box { width:190px; min-height:200px; }
		.error404 .type6 .error-box h3 { font-size:28px; }
		.error404 .type6 .error-box h2 { font-size:60px; line-height:60px; top:-22px; }
		.error404 .type6 .error-box h4 { font-size:19px; text-transform:capitalize; }
		
		.error404 .type4 .error-box.square h2 { font-size:50px; line-height:50px; }
		
		.error404 .type5 h3 { font-size:40px; }
		
		.error404 .type2 .vc_col-sm-6 { padding:0px 15px; }
		
		.error404 .type1 .dt-sc-newsletter-section input[type="submit"] { background-position:center; width: 37px; padding: 0 10px; background-color:#faf5c8; }
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
	
	/*** 404 ***/
		.error404 .type1 img { max-width:55%; }
		.error404 .type1 h4 { font-size:32px; }
		
		.error404 .type2 h3 { font-size:60px; }
		.error404 .type2 h2 { font-size:130px; top:-30px; }
		.error404 .type2 h4 { font-size:25px; }
		
		.error404 .type3 h5, .error404 .type8 h4 { font-size:31px; }
		
		.error404 .type4 .error-box { width:200px; height:200px; }
		.error404 .type4 .error-box h2 { font-size:60px; }
		.error404 .type4 .error-box h3 { font-size:35px; }
		
		.error404 .type5 h2 { font-size:160px; }
		
		.error404 .type7 img { width:50%; }
		.error404 .type7 .error-text { font-size:22px; line-height:40px; }
		
		.error404 .type8 h2 { font-size:140px; top:-15px; }
		.error404 .type8 h3 { font-size:70px; }
	
	}
	

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
				
		/*** 404 ***/
		.error404 .type2 h3 { font-size:30px; margin-top:20px; }
		.error404 .type2 h2 { font-size:80px; line-height:normal; top:-20px; }
		.error404 .type2 h4 { text-transform:capitalize; font-size:19px; }
		
		.error404 .type4 .error-box { width:170px; height:170px; padding:27px; border-radius:50px 0px 50px 0px; }
		.error404 .type4 .error-box h2 { font-size:50px; }
		.error404 .type4 .error-box h3 { font-size:25px; }
		.error404 .type4 .dt-sc-newsletter-section input[type="submit"] { border-radius: 5px; float: none; margin-top: 5px; position: inherit; margin-bottom:10px; }
		
		.error404 .type1 img { max-width:70%; }
		.error404 .type1 h4 { font-size:22px; }
		.error404 .type1 .dt-sc-newsletter-section input[type="email"] { font-size:12px; }
		.error404 .type1 .dt-sc-newsletter-section input[type="submit"] { right:13px; }
				
		.error404 .type7 .error-text { font-size:20px; line-height:40px; }
		.error404 .type7 input[type="submit"] { position:inherit; margin-top:10px; }
		.error404 .type7 input[type="submit"], .error404 .type4 .dt-sc-newsletter-section input[type="email"] { float:none; }
		
		.error404 .type3 h5, .error404 .type8 h4 { font-size:22px; }
		.error404 .type3 .dt-sc-newsletter-section input[type="submit"] { position:inherit; margin-top:0px; float:none; margin-bottom:10px; }
		
		.error404 .type8 h2 { font-size:100px; top:-17px; line-height:110px; }
		.error404 .type8 h3 { font-size:60px; letter-spacing:0; }
		.error404 .type8 .error-text { font-size:18px; line-height:30px; }
		
		.error404 .type5 h2 { font-size:100px; line-height:200px; top:-7px; text-shadow:0 11px 0 #1a1a1a; }
	}