body {
unicode-bidi:embed;
text-align:right;
}

.vc_row {
clear:left;
}

.vc_col-sm-1,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9 {
float:right;
direction:rtl;
}

.column {
float:right;
margin-left:0;
margin-right:2%;
}

select {
padding-left:50px;
padding-right:15px;
text-align:right;
}

.selection-box::before {
left:17px;
right:auto;
}

.vc-no-left-padding .vc_column-inner,.vc-no-left-padding.vc_column_container .vc_column-inner {
padding-right:0;
padding-left:15px;
}

.vc-no-right-padding .vc_column-inner,.vc-no-right-padding.vc_column_container .vc_column-inner {
padding-left:0;
padding-right:15px;
}

.menu-icons-wrapper {
margin-left:0;
margin-right:10px;
float:left;
}

#main-menu ul li.menu-item-simple-parent ul li ul {
right:260px;
left:auto;
}

#main-menu .megamenu-child-container ul.sub-menu > li > ul li a .fa {
margin-right:0;
margin-left:10px;
}

#primary.with-right-sidebar {
float:right;
margin-left:30px;
margin-right:0;
}

.widget .dt-sc-newsletter-section .dt-sc-subscribe-frm input[type="submit"] {
left:0;
right:auto;
border-radius:5px 0 0 5px;
}

.woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img {
float:left;
margin-left:0;
margin-right:4px;
}

.dt-sc-button.with-icon.icon-right.type1 span {
margin-right:35px;
margin-left:0;
}

.dt-sc-button.with-icon.icon-right.type1::after {
left:-24px;
right:auto;
}

.dt-sc-button.with-icon.icon-right.type1 {
padding-left:14px;
}

.dt-sc-button.with-icon.icon-right.type1.small {
padding-right:20px;
}

.dt-sc-button.with-icon.icon-right.type1.medium {
padding-right:30px;
}

.dt-sc-button.with-icon.icon-right.type1.large {
padding-right:40px;
}

.dt-sc-button.with-icon.icon-right.type1.xlarge {
padding-right:50px;
}

.dt-sc-button.small.with-icon.icon-left.type2 span::after {
right:45px;
left:auto;
}

.dt-sc-button.medium.with-icon.icon-left.type2 span::after {
right:55px;
left:auto;
}

.dt-sc-button.large.with-icon.icon-left.type2 span::after {
right:67px;
left:auto;
}

.dt-sc-button.xlarge.with-icon.icon-left.type2 span::after {
right:80px;
left:auto;
}

.dt-sc-button.small.with-icon.icon-left.type2 span {
margin-right:0;
padding-right:0;
margin-left:15px;
padding-left:15px;
}

.dt-sc-button.medium.with-icon.icon-left.type2 span {
margin-right:0;
padding-right:0;
margin-left:20px;
padding-left:20px;
}

.dt-sc-button.large.with-icon.icon-left.type2 span {
margin-right:0;
padding-right:0;
margin-left:25px;
padding-left:25px;
}

.dt-sc-button.xlarge.with-icon.icon-left.type2 span {
margin-right:0;
padding-right:0;
margin-left:30px;
padding-left:30px;
}

.dt-sc-button.small.with-icon.icon-left span {
margin-right:0;
margin-left:15px;
}

.dt-sc-button.with-icon.icon-right span {
margin-left:0;
margin-right:10px;
}

.dt-sc-button.small.with-icon.icon-right.type3 {
padding-right:20px;
padding-left:60px;
}

.dt-sc-button.medium.with-icon.icon-right.type3 {
padding-right:25px;
padding-left:75px;
}

.dt-sc-button.large.with-icon.icon-right.type3 {
padding-right:40px;
padding-left:100px;
}

.dt-sc-button.xlarge.with-icon.icon-right.type3 {
padding-right:50px;
padding-left:130px;
}

.dt-sc-button.with-icon.icon-right.type2 span {
left:21px;
right:auto;
margin-right:15px;
margin-left:0;
padding-left:0;
padding-right:20px;
}

.dt-sc-button.xlarge.with-icon.icon-right.type2 span {
left:25px;
right:auto;
padding-left:0;
padding-right:25px;
}

.dt-sc-button.with-icon.icon-right.type2 span::after {
border-left:1px solid rgba(255,255,255,0.2);
border-right:1px solid rgba(0,0,0,0.05);
right:0;
left:auto;
}

.dt-sc-button.small.with-icon.icon-right.type2 {
padding-left:70px;
padding-right:20px;
}

.dt-sc-button.medium.with-icon.icon-right.type2 {
padding-left:75px;
padding-right:23px;
}

.dt-sc-button.large.with-icon.icon-right.type2 {
padding-left:80px;
padding-right:25px;
}

.dt-sc-button.xlarge.with-icon.icon-right.type2 {
padding-left:100px;
padding-right:30px;
}

.portfolio .image-overlay .links a {
margin:30px 30px 0 0;
}

.portfolio .image-overlay-details {
text-align:left;
border-left:1px solid;
border-right:none;
left:30px;
right:auto;
}

.dt-portfolio-single > .dt-sc-two-third {
margin-left:2%;
margin-right:0;
}

.blog-entry .entry-format a {
border-left-width:10px;
border-left-style:solid;
border-right:0;
}

.entry-meta-data p i {
margin-left:8px;
margin-right:0;
float:right;
}

.blog-entry.blog-thumb-style .entry-thumb {
padding-left:25px;
padding-right:0;
}

.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-body,.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-meta-data {
margin-right:-60px;
margin-left:0;
}

.commententries > ul.commentlist {
width:100%;
}

ul.commentlist li {
padding-left:0;
padding-right:110px;
}

.dt-sc-title.with-right-border-decor::after {
right:15px;
left:auto;
}

.dt-sc-title.with-right-border-decor::before {
right:21px;
left:auto;
}

.dt-sc-title.with-right-border-decor h2::before {
right:-64px;
left:auto;
}

.dt-sc-title.with-two-color-bg {
direction:rtl;
float:right;
}

.dt-sc-title.with-two-color-bg::after {
left:calc(100%+30px);
transform:skewX(30deg);
right:auto;
}

.dt-sc-title.with-two-color-bg::before {
right:-20px;
left:auto;
transform:skewX(30deg);
}

.dt-sc-title.with-two-color-bg h2 {
right:10px;
left:auto;
padding:25px 10px 23px 30px;
}

.dt-sc-tabs-horizontal-frame-container.type2 ul.dt-sc-tabs-horizontal-frame > li:first-child > a.current {
border-left-color:#fcdb34;
border-right:transparent;
}

.dt-sc-tabs-vertical-frame-container.align-middle ul.dt-sc-tabs-vertical-frame li > a {
border-right:1px solid rgba(0,0,0,0.1);
margin:0 0 0 -1px;
}

ul.dt-sc-tabs-vertical-frame > li > a > span {
float:right;
margin:0 0 0 10px;
}

ul.dt-sc-tabs-vertical-frame > li > a.current,.dt-sc-tabs-vertical-frame-container.align-middle ul.dt-sc-tabs-vertical-frame li > a.current {
border-left-color:#fff;
}

.dt-sc-tabs-vertical-frame-container.type2 .dt-sc-tabs-vertical-frame-content {
padding:0 30px 0 0;
}

.dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame > li > a.current::before {
left:-16px;
transform:rotate(180deg);
right:auto;
}

.dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame {
margin-right:0;
width:31.9%;
}

.dt-sc-tabs-vertical-frame-container.type4 ul.dt-sc-tabs-vertical-frame > li > a::after {
left:-50px;
right:auto;
transform:skewX(30deg);
}

.dt-sc-tabs-vertical-frame-container.type4 ul.dt-sc-tabs-vertical-frame > li > a::before {
left:-50px;
right:auto;
}

.dt-sc-tabs-vertical-frame-container {
border-right:1px solid rgba(0,0,0,0.1);
border-left:0;
}

.dt-sc-tabs-horizontal-frame-container.type3 ul.dt-sc-tabs-horizontal-frame > li > a {
border-right:1px solid rgba(0,0,0,0.1);
}

.dt-sc-tabs-horizontal-frame-container.type3 ul.dt-sc-tabs-horizontal-frame > li {
margin:0 -1px 0 0;
}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion::before,.dt-sc-toggle-frame h5.dt-sc-toggle::before {
left:auto;
right:29px;
}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion a,.dt-sc-toggle-frame h5.dt-sc-toggle a {
padding:20px 80px 20px 0;
}

.type2 .dt-sc-toggle-frame h5.dt-sc-toggle-accordion::before,.type2 .dt-sc-toggle-frame h5.dt-sc-toggle::before {
left:33px;
right:auto;
}

.dt-sc-toggle-group-set {
display:block;
width:100%;
}

ul.dt-sc-fancy-list li {
padding:5px 23px 5px 0;
}

.dt-sc-colored-big-buttons span {
right:0;
left:auto;
border-radius:0 5px 5px 0;
}

.dt-sc-colored-big-buttons.with-left-icon {
padding-right:110px;
padding-left:30px;
text-align:right;
}

.dt-sc-dropcap.dt-sc-dropcap-default {
padding-right:0;
padding-left:30px;
}

blockquote.type2 cite::before {
left:25%;
right:auto;
}

blockquote.type3 {
padding-left:0;
padding-right:25px;
border-left:none;
border-right:2px solid rgba(0,0,0,0.2);
}

.dt-sc-error-box,.dt-sc-warning-box,.dt-sc-success-box,.dt-sc-info-box {
padding-left:15px;
padding-right:45px;
}

.dt-sc-events-list .dt-sc-event-date {
padding-left:30px;
padding-right:0;
border-right:none;
border-left:1px solid rgba(0,0,0,0.15);
text-align:left;
}

.dt-sc-event.type2:hover .dt-sc-event-meta p {
padding-right:10px;
}

.dt-sc-event.type2 .event-timing {
border-right:1px solid #d3d3d3;
border-left:none;
padding-right:20px;
padding-left:0;
}

.dt-sc-contact-info span {
margin-right:0;
margin-left:10px;
float:right;
}

.vc_custom_1455782476511 .dt-sc-contact-info.type4 {
border-right-width:1px;
}

.dt-sc-team.type2 .dt-sc-team-details::before {
transform:rotate(180deg);
right:-15px;
left:auto;
}

.dt-sc-team.type2.alter .dt-sc-team-details::before {
left:-15px;
right:auto;
}

.dt-sc-counter.type1 {
border-left:1px solid rgba(0,0,0,0.1);
border-right:none;
padding-left:30px;
padding-right:0;
}

.dt-sc-counter.type3 {
border-right:0;
border-left-width:1px;
border-left-style:dashed;
}

.dt-sc-counter.type4 {
border-right:0;
border-left:1px solid rgba(255,255,255,0.8);
}

.dt-sc-icon-box.type2 .icon-wrapper {
float:right;
margin:0 0 10px 20px;
}

.dt-sc-icon-box.type2.alignright .icon-wrapper {
float:left;
margin:0 20px 10px 0;
}

.dt-sc-icon-box.type4.with-diamond-square-icon {
padding-right:100px;
padding-left:0;
}

.dt-sc-icon-box.type5.rounded-skin {
padding-left:0;
padding-right:120px;
}

.dt-sc-icon-box.type5.no-icon-bg {
padding-left:0;
padding-right:50px;
direction:ltr;
}

.dt-sc-icon-box.type5.no-icon {
border-right:none;
border-left-width:1px;
}

.dt-sc-icon-box.type6 .icon-wrapper {
float:right;
margin-right:0;
margin-left:15px;
}

.dt-sc-icon-box.type9 .icon-wrapper::before {
left:-20px;
right:auto;
transform:rotate(180deg);
}

.dt-sc-icon-box.type13 .icon-wrapper {
left:auto;
right:-30px;
}

.dt-sc-bmi-calculator form input[type="reset"] {
margin-left:0;
margin-right:15px;
}

.dt-sc-text-with-icon.border-right {
border-right:none;
border-left-style:solid;
border-left-width:1px;
}

.dt-sc-text-with-icon span {
margin-left:7px;
margin-right:0;
}

.dt-sc-newsletter-section.type2 .dt-sc-subscribe-frm input[type="text"],.dt-sc-newsletter-section.type2 .dt-sc-subscribe-frm input[type="email"] {
margin-right:-5px;
margin-left:0;
}

.dt-sc-testimonial.type2 .dt-sc-testimonial-quote::before {
right:41px;
left:auto;
transform:rotate(45deg);
}

.dt-sc-testimonial.type2 .dt-sc-testimonial-quote::after {
right:52px;
left:auto;
transform:rotate(135deg);
}

.dt-sc-testimonial.type3 blockquote q::before {
right:-10px;
left:auto;
}

.dt-sc-testimonial.type4 .dt-sc-testimonial-author {
margin-right:0;
margin-left:4%;
}

.dt-sc-testimonial.type4 .dt-sc-testimonial-author cite {
left:0;
right:auto;
text-align:left;
}

.dt-sc-testimonial.type6 .dt-sc-testimonial-quote blockquote q {
text-align:left;
padding-left:0;
padding-right:85px;
}

.dt-sc-testimonial.type6::after {
right:75%;
left:auto;
}

.dt-sc-testimonial.type6 .dt-sc-testimonial-author::before {
left:auto;
right:65px;
}

.dt-sc-testimonial.type6 .dt-sc-testimonial-author {
float:left;
padding-left:0;
padding-right:60px;
}

.dt-sc-testimonial.type6 .dt-sc-testimonial-quote {
display:inline-block;
padding-left:30px;
padding-right:0;
}

.dt-sc-testimonial.type8 .dt-sc-testimonial-author cite {
left:-100px;
right:auto;
}

.dt-sc-image-caption .dt-sc-image-wrapper .icon-wrapper::before {
left:0;
transform:rotate(90deg);
right:auto;
}

.dt-sc-image-caption .dt-sc-image-wrapper .icon-wrapper::after {
right:-14px;
left:auto;
transform:rotate(135deg);
}

.product .summary .add_to_wishlist::before {
right:16px;
left:auto;
}

.product .summary .add_to_wishlist {
padding-left:20px;
padding-right:37px;
}

.woocommerce .woocommerce-product-rating .star-rating {
float:right;
margin-left:4px;
margin-right:0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
margin-left:0;
margin-right:50px;
}

.woocommerce p.stars a {
margin-right:0;
margin-left:1em;
}

.woocommerce-checkout #payment ul.payment_methods li input {
float:right;
margin-left:1em;
margin-right:0;
margin-top:7px;
}

.woocommerce .shop_table th:last-child,.woocommerce .shop_table td:last-child {
border-right:0;
border-left:1px solid rgba(0,0,0,0.1);
}

.woocommerce form .selection-box::after,.woocommerce .selection-box::after {
border-left:1px solid rgba(0,0,0,0.15);
}

.woocommerce p.stars a.star-5 {
border-right:1px solid #ccc;
}

#buddypress div.item-list-tabs ul li {
float:right;
margin-right:1px;
}

#buddypress .activity-list .activity-content {
margin-left:0;
margin-right:95px;
}

#buddypress div.activity-comments {
margin-right:70px;
margin-left:0;
}

.activity-list li.bbp_topic_create .activity-content .activity-inner,.activity-list li.bbp_reply_create .activity-content .activity-inner {
border-right:2px solid #eaeaea;
border-left:0;
padding-left:0;
padding-right:10px;
}

#buddypress ul.item-list li {
float:left;
width:100%;
box-sizing:border-box;
}

#buddypress ul.item-list li .activity-comments img.avatar {
margin-left:15px;
margin-right:0;
}

.bp_members.type-bp_members #buddypress div#subnav.item-list-tabs ul li.last {
text-align:left;
float:right;
}

#buddypress .acomment-options {
float:right;
margin-right:40px;
margin-left:0;
}

.bp-avatar-nav .avatar-nav-items li.avatar-nav-item {
float:right!important;
}

ul.acfb-holder li {
float:right!important;
margin-left:5px!important;
margin-right:0!important;
}

#buddypress .standard-form div.radio ul {
list-style-position:inside;
}

.tribe-events-list .tribe-events-event-image {
float:right;
margin-left:3%;
margin-right:0;
}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-left,#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-left,#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous,#tribe-events-header .tribe-events-sub-nav li {
float:right;
text-align:right;
}

.tribe-events-week-grid .column {
float:left;
margin-right:0;
}

.scroller-content .tribe-events-grid .column.first,.scroller-content .tribe-week-grid-hours {
margin-right:-40px;
}

.tribe-events-list .tribe-events-photo-event .tribe-events-event-details {
display:inline-block;
width:100%;
box-sizing:border-box;
}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous,#tribe-events-header .tribe-events-sub-nav li {
float:right;
text-align:right;
margin-right:0;
margin-left:5px;
}

ul.side-nav li a {
padding-right:60px;
padding-left:0;
}

ul.side-nav li a::before {
right:0;
left:auto;
transform:rotate(180deg);
}

ul.side-nav > li.current_page_item > a::after,ul.side-nav > li > ul > li.current_page_item > a::after {
content:none;
}

.main-title-section-wrapper.breadcrumb-right .breadcrumb {
float:left;
text-align:left;
padding-left:0;
padding-right:20px;
}

#header .wpb_column.alignright,.footer-copyright .wpb_column.alignright {
float:left;
margin:0;
}

.secondary-sidebar .type6 .widgettitle {
border-right-width:3px;
border-right-style:solid;
border-left:0;
padding-left:0;
padding-right:15px;
}

.portfolio.type2 .image-overlay .links {
right:100%;
left:auto;
}

.vc_no-margin .column {
float:left;
margin-right:0;
margin-left:2%;
}

.wpcf7-form div.wpcf7-validation-errors,.wpcf7-form div.wpcf7-mail-sent-ok {
padding-left:15px;
padding-right:45px;
float:right;
}

.dt-sc-portfolio-sorting.type2 a::after {
right:-3px;
left:auto;
}

.extend-bg-fullwidth-right::after {
right:100%;
}

.vcr_float_right .wpb_column {
float:left;
text-align:left;
direction:ltr;
}

.vcr_float_right .extend-bg-fullwidth-right::after {
left:100%;
right:auto;
}

.dt-sc-practices-list li::before {
left:auto;
right:20px;
}

.dt-sc-practices-list li a {
padding-left:10px;
padding-right:45px;
}

.hosting-contact-info-container::before {
right:32px;
left:auto;
}

.dt-sc-hotel-room .dt-sc-hotel-room-thumb-overlay {
left:0;
right:auto;
padding-right:15px;
padding-left:0;
}

.dt-sc-hotel-room .dt-sc-hotel-room-buttons a span {
margin-left:0;
margin-right:5px;
transform:rotate(180deg);
}

.dt-sc-hotel-room.dt-sc-hotel-room-list-view .dt-sc-hotel-room-details .dt-sc-hotel-room-content {
float:right;
padding-left:30px;
padding-right:0;
}

.hotel-contact-form p input[type="submit"] {
float:left;
margin-left:0;
margin-right:10px;
}

.dt-sc-single-hexagon.hexagon-left-margin {
margin-left:0;
margin-right:13px;
}

.dt-sc-keynote-speakers .dt-sc-speakers-details::before {
right:-15px;
left:auto;
transform:rotate(180deg);
}

.event-contact-info .dt-sc-contact-info {
padding-right:40px;
padding-left:0;
}

.event-contact-info .dt-sc-sociable {
float:none;
}

.dt-sc-fitness-program .dt-sc-fitness-program-price {
padding-left:20px;
padding-right:50px;
left:0;
right:auto;
}

.dt-sc-fitness-program-nav li a {
float:right;
padding-left:0;
padding-right:23px;
}

.dt-sc-fitness-program-nav li.current_page_item a,.dt-sc-fitness-program-nav li.current_page_item a:hover {
padding-right:46px;
padding-left:0;
}

.dt-sc-fitness-program-nav li.current_page_item a::after {
left:-22px;
right:auto;
}

.dt-sc-fitness-program-nav li.current_page_item a::before {
right:23px;
left:auto;
}

.dt-sc-fitness-program-short-details ul li {
padding-left:10px;
padding-right:50px;
}

.dt-sc-fitness-program-details .vc-no-right-padding.vc_column_container .vc_column-inner,.dt-sc-fitness-program-details .vc-no-left-padding.vc_column_container .vc_column-inner {
padding-left:15px;
padding-right:15px;
}

.dt-sc-fitness-program-details .dt-sc-fancy-list li {
padding-left:0;
padding-right:30px;
background-position:right 16px;
}

.dt-sc-trainers .dt-sc-sociable {
left:-13px;
right:auto;
}

.secondary-sidebar .type2 .widgettitle::before {
left:auto;
right:0;
transform:rotate(90deg);
}

.vcr_float_right .vc-no-left-padding.vc_column_container .vc_column-inner {
padding-right:15px;
padding-left:0;
}

.vcr_float_right .vc-no-right-padding.vc_column_container .vc_column-inner {
padding-left:15px;
padding-right:0;
}

.dt-sc-doctors-single-meta li span {
padding-right:10px;
box-sizing:border-box;
}

.dt-sc-twitter-icon:before {
left:0;
right:100%;
}

.nightclub-booking-form p label {
float:right;
margin:0;
}

.nightclub-booking-form p.date::before,.nightclub-booking-form p.time::before {
left:14px;
right:auto;
}

.dt-sc-menu .image-overlay-wrapper {
text-align:left;
direction:ltr;
}

.dt-sc-menu .dt-sc-menu-details .dt-sc-menu-price {
left:0;
padding-left:0;
padding-right:10px;
right:auto;
}

.dt-sc-menu .dt-sc-menu-details p {
padding-right:0;
padding-left:40px;
}

.dt-sc-restaurant-events-list .dt-sc-restaurant-event-image {
border-right:15px solid #fff;
border-left:0;
}

.dt-sc-restaurant-events-list .dt-sc-restaurant-event-image:after {
transform:rotate(180deg);
right:0;
left:auto;
}

.dt-sc-restaurant-events-list:before {
right:calc(24.5%-15px);
left:auto;
transform:rotate(180deg);
}

.dt-sc-restaurant-events-list:after {
right:10px;
left:auto;
}

.portfolio.type9 .image-overlay {
right:5px;
left:auto;
}

.radio-label .wpcf7-list-item label:before {
right:3px;
left:auto;
}

.radio-label input[type="radio"]:checked + .wpcf7-list-item-label::before {
left:auto;
right:-24px;
}

.dt-sc-yoga-teacher .dt-sc-yoga-teacher-overlay a span {
margin-right:5px;
margin-left:0;
transform:rotate(180deg);
}

.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame > li > a {
min-width:auto;
}

.alter .dt-sc-triangle-img {
left:10px;
}

.dt-sc-newsletter-section.type7 .newsletter-tooltip:before {
right:-20px;
transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-ms-transform:rotate(180deg);
-o-transform:rotate(180deg);
}

.dt-sc-newsletter-section.type1 form:before {
right:0;
left:auto;
box-shadow:10px 0 0 0 #fff;
}

.dt-sc-newsletter-section.type1 form:after {
left:-100%;
right:auto;
margin-left:1px;
}

.dt-sc-newsletter-section.type1 h2:before,.dt-sc-newsletter-section.type1 h2:after,.dt-sc-newsletter-section.type1 form:before,.dt-sc-newsletter-section.type1 form:after {
transform:skewX(-30deg) translateX(15%);
}

.dt-sc-newsletter-section.type1 h2:before {
right:-100%;
left:auto;
}

.type7 ul.dt-sc-tabs-horizontal-frame {
padding-left:20px;
padding-right:150px;
}

.type7 .dt-sc-tabs-horizontal-frame:before {
right:40px;
left:auto;
}

.type7 .dt-sc-tabs-horizontal-frame > li:after {
border-left:1px solid #dcdad4;
border-right:0;
left:-10px;
right:auto;
}

.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame li > a {
border-right:1px solid rgba(0,0,0,0.1);
border-left:0;
margin:0;
}

.dt-sc-counter.type3 .icon-wrapper:before {
right:-6px;
left:0;
}

.dt-sc-testimonial-wrapper .dt-sc-testimonial.type8 .dt-sc-testimonial-author cite {
right:auto;
left:0;
}

#main-menu ul.menu > li > a > i {
margin-right:0;
margin-left:5px;
}

.woocommerce .woocommerce-message:before,.woocommerce .woocommerce-info:before,.woocommerce .woocommerce-error:before {
right:-20px;
left:auto;
}

.woocommerce .woocommerce-error,.woocommerce .woocommerce-info,.woocommerce .woocommerce-message,.woocommerce-page .woocommerce-error,.woocommerce-page .woocommerce-info,.woocommerce-page .woocommerce-message {
z-index:9999;
}

.main-header {
display:block;
}

#logo {
float:right;
margin:17px 0;
}

#toTop {
left:0;
right:auto;
text-indent:9999px;
height:60px;
}

.uavc-list-icon,.vc_custom_1493719450886 {
margin:0 0 0 20px !important;
}

.aligncenter .dt-sc-title.with-right-border-decor > :first-child:after {
right:0;
left:0;
}

.last .dt-sc-counter.type1 {
border-left:none;
}

.dt-sc-dark-bg .dt-sc-counter.type1 {
border:none!important;
}

.dt-sc-icon-box.type2 .icon-content {
border-left:none;
border-right:1px solid #e2e2e2;
}

.column.dt-sc-one-third.dt-sc-fitness-procedure {
width:30%;
}

.dt-sc-icon-box.type8 .icon-content h4,.dt-sc-icon-box.type8 .icon-content h5 {
margin-left:0;
margin-right:80px;
}

.project-details.type2 li {
padding:0 3% 0 0;
}

.dt-sc-contact-info.type4:before {
left:-7px;
right:auto;
}

.last .dt-sc-contact-info.type4 {
border-left:1px solid;
}

.dt-sc-contact-info.type4 {
border-right-width:1px;
border-left-width:0;
}

.dt-sc-counter.type6 h4:before {
left:-6px;
right:auto;
}

.dt-sc-icon-box.type10 .icon-content h4::before {
left:-26px;
right:auto;
}

.section18 .dt-sc-icon-box.type4 {
padding:25px 68px 20px 20px;
}

.tpl-blog-holder.apply-isotope .dt-sc-one-half,.tpl-blog-holder.apply-isotope .column.no-space.dt-sc-one-half {
width:48%;
}

.tpl-blog-holder.apply-isotope .dt-sc-one-half {
margin-right:2%;
}

.portfolio.hover-presentation .image-overlay-details {
text-align:right;
padding-right:50px;
}

.portfolio.hover-extended .image-overlay-details {
right:30px;
left:auto;
text-align:right;
}

.bx-wrapper,.dt-sc-sorting-container a,.caroufredsel_wrapper,.caroufredsel_wrapper ul,.carousel-arrows,.dt-sc-pr-tb-col,.dt-sc-triangle-wrapper,.hosting-table,.rev_slider_wrapper,.widget_text ul.dt-sc-sociable,.dt-sc-team-social,.dt-sc-event-month-date,.slick-list,.slick-slider,.slick-track,.vc_images_carousel {
direction:ltr;
}

.vc_row.vc_row-has-fill,.vc_row.vc_row-no-padding,.dt-sc-tabs-horizontal-frame-container.type6 {
float:left;
width:100%;
}

.vc_row[data-vc-full-width],.menu-wrapper,#secondary-right.secondary-has-right-sidebar,.post-nav-container .post-next-link,.dt-sc-timeline .column,.dt-sc-hr-timeline-section.type1 .dt-sc-hr-timeline .dt-sc-hr-timeline-content,.icon-link-title.vc_col-sm-6,.dt-sc-progress .dt-sc-bar-text > span,.dt-sc-events-list .dt-sc-event-duration h6,.dt-sc-team.type2.alter .dt-sc-team-thumb,.dt-sc-newsletter-section .dt-sc-subscribe-frm,.dt-sc-testimonial.type4 .dt-sc-testimonial-quote,.woocommerce form .form-row-last,.woocommerce .col2-set .col-2,.woocommerce .woocommerce-ordering,.woocommerce div.product div.summary,.wc-proceed-to-checkout,.woocommerce form.login .button,.woocommerce form.register .button,.woocommerce .cart-collaterals .cart_totals,#buddypress div.item-list-tabs ul li.last,#buddypress div.pagination .pagination-links,#buddypress form#whats-new-form #whats-new-submit,#bbpress-forums > #subscription-toggle a.subscription-toggle,div.bbp-submit-wrapper,#notification-bulk-manage,#messages-bulk-manage,.type3.tribe_events .event-date,.tribe-events-list .tribe-events-event-image + div.tribe-events-list-event-detail,a.tribe-events-gcal,a.tribe-events-ical,.footer-copyright .alignright img,.portfolio.type2 .image-overlay .links a,.vcr_float_right .alignright.dt-sc-button,.dt-sc-hotel-room-single-metadata form input[type="submit"],.vcr_float_right .dt-sc-contact-info span,.dt-sc-fitness-program-details .wpb_column,.jewel-contact-form input[type="submit"],.vcr_float_right .dt-sc-double-border-separator,.model-nav-container,.nightclub-booking-form input[type="submit"],.vcr_float_right .yoga-expert-form input[type="submit"],.dt-sc-testimonial.type8.alignright .dt-sc-testimonial-author,.woocommerce .woocommerce-error .button,.woocommerce .woocommerce-info .button,.woocommerce .woocommerce-message .button,.dt-sc-image-caption.type4 .dt-sc-button span,.dt-sc-testimonial.type5 .dt-sc-testimonial-author cite {
float:left;
}

.textwidget,.dt-sc-button,table,#bbpress-forums ul,.radio,fieldset,.type2.tribe_events,.woocommerce #review_form #respond p,.spa-reservation-form,.main-header #searchform,.widget.woocommerce ul.product_list_widget li,.rsvp-form label {
direction:rtl;
}

.alignleft,img.alignleft,.dt-sc-counter.type2 .icon-wrapper {
float:right;
margin-right:0;
margin-left:20px;
}

.alignright,img.alignright,.vcr_float_right .alignleft,.vcr_float_right img.alignleft {
float:left;
margin-left:0;
margin-right:20px;
}

.alignright,.dt-sc-timeline,blockquote.type2 cite,.footer-copyright .alignright .menu-links,.footer-copyright .menu-links {
text-align:left;
}

.column.first,ul.products li.first,ul.products li.first .column,.tribe-events-grid .tribe-grid-content-wrap .column,.tribe-week-grid-wrapper .column,.dt-sc-fitness-program-container .column,.dt-sc-events-isotope .column,.dt-sc-menu-container .column,.dt-sc-icon-box.type5.alignright {
margin-right:0;
}

ol,.widget ul li,.widget.widget_nav_menu ul.menu li,.widget.widget_archive ul li > a,.widget.widget_categories ul li > a,.widget.widget_pages ul li > a,.widget.widget_meta ul li > a,.widget.widget_nav_menu ul.menu li > a,.widget.widget_text ul li > a,.widget.woocommerce ul.product-categories li a,.type2 .dt-sc-toggle-frame h5.dt-sc-toggle-accordion a,.type2 .dt-sc-toggle-frame h5.dt-sc-toggle a,.type3 .dt-sc-toggle-frame h5.dt-sc-toggle-accordion a,.type3 .dt-sc-toggle-frame h5.dt-sc-toggle a,ul.dt-sc-fancy-list.features-list li,.dt-sc-text-with-icon {
padding-left:0;
padding-right:20px;
}

input[type="submit"],button,input[type="button"],input[type="reset"],#logo a,#main-menu ul.menu li,#main-menu .megamenu-child-container > ul.sub-menu > li,#main-menu,#main-menu ul.menu,.menu-icons-wrapper,#secondary-left.secondary-has-left-sidebar,.flickr-widget div,.dt-sc-button.with-icon.icon-left span,.post-nav-container .post-prev-link,.pagination .column,.pagination ul li,.blog-entry .entry-thumb,ul.dt-sc-tabs-horizontal-frame > li,ul.dt-sc-tabs-horizontal > li,ul.dt-sc-tabs-vertical-frame,.dt-sc-progress .dt-sc-bar,.dt-sc-progress-wrapper .dt-sc-progress,.dt-sc-progress-wrapper .dt-sc-bar-title,.dt-sc-dropcap,.dt-sc-events-list .dt-sc-event-date,.dt-sc-events-list .dt-sc-event-title,.dt-sc-events-list .dt-sc-event-duration,.dt-sc-event.type5 .dt-sc-event-cost,.dt-sc-event.type5 .dt-sc-events-read-more,.dt-sc-team.type2 .dt-sc-team-thumb,.dt-sc-team.type2 .dt-sc-team-details,.dt-sc-icon-box.type9 .icon-wrapper,.dt-sc-newsletter-section h2,.dt-sc-testimonial.type2 .dt-sc-testimonial-author span,.dt-sc-testimonial.type2 .dt-sc-testimonial-author cite,.dt-sc-testimonial.type5 .dt-sc-testimonial-author cite,.dt-sc-testimonial.type8 .dt-sc-testimonial-author,.woocommerce div.product form.cart .button,.woocommerce div.product form.cart div.quantity,.woocommerce form .form-row-first,.woocommerce .col2-set .col-1,.woocommerce .cart-collaterals .cross-sells,.woocommerce table.cart td.actions .coupon,.woocommerce .woocommerce-result-count,.woocommerce div.product div.images,.woocommerce div.product div.images div.thumbnails a,#buddypress .activity-list .activity-avatar,#buddypress div.pagination .pag-count,#buddypress #groups-list .item,#buddypress .dt-sc-member-container,#buddypress .dt-sc-group-container,#buddypress > div#item-body,.type2.tribe_events .event-details li dt,.type2.tribe_events .event-organize li dt,.type2.tribe_events .event-venue li dt,.type5.tribe_events .nav-top-links a,.tribe-events-list-event-detail .tribe-events-read-more,.tribe-events-day-time-slot .tribe-events-read-more,.tribe-events-back > a,.tribe-events-list .tribe-events-event-cost,.tribe-bar-geoloc-filter,.tribe-events-uses-geolocation .tribe-bar-date-filter,.tribe-events-uses-geolocation .tribe-bar-search-filter,.tribe-events-uses-geolocation .tribe-bar-submit,.main-title-section-wrapper.breadcrumb-right .main-title-section,#header .wpb_column,.footer-copyright .wpb_column,.dt-sc-portfolio-sorting,.dt-sc-attorneys-single .dt-sc-attorney-meta li span,.dt-sc-attorney .dt-sc-attorney-details .dt-sc-attorney-meta li span,.dt-sc-attorney-sorting a,.dt-sc-attorney-location li,.dt-sc-tabs-horizontal-frame-container.type3 .dt-sc-one-half,.dt-sc-hotel-room .dt-sc-hotel-room-thumb,.dt-sc-hotel-room .dt-sc-hotel-room-details,.dt-sc-hotel-room-single-metadata form label,.dt-sc-hotel-room-single-metadata ul li,.hotel-working-hours li,.dt-sc-keynote-speakers .dt-sc-speakers-thumb,.dt-sc-keynote-speakers .dt-sc-speakers-details,.dt-sc-sociable,.dt-sc-fitness-diet-result h2,.dt-sc-fitness-program .dt-sc-fitness-program-meta p,.dt-sc-fitness-program-details .dt-sc-fitness-program-reviews .wpb_column,.dt-sc-trainers .dt-sc-trainers-thumb,.dt-sc-trainers .dt-sc-trainers-details,.dt-sc-trainers .dt-sc-trainers-meta,.dt-sc-doctors .dt-sc-doctors-details ul.dt-sc-doctors-meta li,.dt-sc-double-border-separator,.nightclub-booking-form input[type="text"],.nightclub-booking-form input[type="tel"],.nightclub-booking-form input[type="date"],.dt-sc-event-month-thumb,.dt-sc-chef .dt-sc-chef-details .dt-sc-chef-category,.dt-sc-chef .dt-sc-chef-details .dt-sc-button,.dt-sc-menu .dt-sc-menu-details h6,.dt-sc-restaurant-events-list .dt-sc-restaurant-event-image,.dt-sc-restaurant-events-list .dt-sc-restaurant-event-details,.dt-sc-chef-single-details .dt-sc-chef-single-likes h6,.dt-sc-yoga-teacher-single .dt-sc-yoga-teacher-single-details,.dt-sc-yoga-teacher-single .dt-sc-yoga-teacher-wrapper,.dt-sc-yoga-teacher-single .dt-sc-yoga-teacher-single-details .dt-sc-yoga-teacher-single-meta li span,.dt-sc-faculty .dt-sc-faculty-details,.dt-sc-faculty .dt-sc-sociable,.dt-sc-faculty-single .dt-sc-faculty-single-meta li span,.dt-sc-course .dt-sc-course-details,.dt-sc-course .dt-sc-course-details .dt-sc-course-meta,.vc_min_height_left .alignright.dt-sc-button,.dt-sc-sociable li,.dt-sc-one-half .dt-sc-doctors.style1 .dt-sc-doctors-single-meta li span,.dt-sc-doctors-single-meta li p {
float:right;
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="tel"],input[type="number"],input[type="range"],input[type="date"],textarea,input.text,input[type="search"],#main-menu .megamenu-child-container > ul.sub-menu,#main-menu ul li.menu-item-simple-parent ul,#main-menu ul li.menu-item-simple-parent ul li ul,#main-menu ul li.menu-item-simple-parent ul li ul li ul,.woocommerce-checkout #payment ul.payment_methods li,.woocommerce .shop_table.woocommerce-checkout-review-order-table th,.woocommerce .shop_table.woocommerce-checkout-review-order-table td,.woocommerce .shop_table.order_details th,.woocommerce .shop_table.order_details td,.woocommerce .shop_table.customer_details th,.woocommerce .shop_table.customer_details td,.woocommerce table.shop_attributes td,.woocommerce-cart .cart-collaterals .cart_totals table td,.woocommerce form.checkout_coupon,.woocommerce form.login,.woocommerce form.register,.portfolio.type2 .image-overlay h2,.vcr_float_right .alignright,.dt-sc-doctors .dt-sc-doctors-details ul.dt-sc-team-social,.rsvp-form,.dt-sc-team.type2 .dt-sc-team-details,.dt-sc-image-caption.type8.alignleft .dt-sc-image-content,div.footer-widgets h3.widgettitle,.widget_text ul.dt-sc-sociable.alignleft li a,.footer-widgets .widget,.widget ul li,.dt-sc-team.hide-details-show-on-hover .dt-sc-team-details ul.dt-sc-team-social,.dt-sc-portfolio-sorting.type3,.project-details.type2 li,.project-details.type2 li span,blockquote.type1 {
text-align:right;
}

.selection-box::after,.widget.widget_categories ul li > a span,.widget.widget_archive ul li > a span,.dt-sc-button.with-icon.icon-right.type3 span,.dt-sc-tabs-vertical-frame-container.type4 ul.dt-sc-tabs-vertical-frame > li > a.current::before,.dt-sc-event.type3 .dt-sc-event-date,.dt-sc-counter.type1.alignright .icon-wrapper::before,.dt-sc-icon-box .large-icon,.dt-sc-testimonial-wrapper .carousel-arrows,.dt-sc-images-wrapper .carousel-arrows,.dt-sc-image-caption .dt-sc-image-wrapper .icon-wrapper,.dt-sc-hotel-room-single-metadata form p.room-date::before,.vcr_float_right ul.dt-sc-fancy-list li:before,.dt-sc-twitter-icon:after,.university-contact-form .button-field i,.vcr_float_right .dt-sc-title.with-right-border-decor > :first-child:after,.section43 .dt-sc-progress .dt-sc-bar-text > span,.dt-sc-counter.type1:after,.dt-sc-portfolio-fullwidth-container.gallery-list .with-content-right .dt-sc-fixed-content {
left:0;
right:auto;
}

#primary.with-left-sidebar,.tribe-events-venue .tribe-events-map-wrap {
float:left;
margin-left:0;
margin-right:30px;
}

.widget .recent-posts-widget li .entry-meta p,.widget .recent-posts-widget li .thumb {
float:right;
margin-left:15px;
margin-right:0;
}

.widget .recent-posts-widget li,.widget.widget_text ul.no-bullet li a,.widget.widget_text ul.dt-sc-sociable li > a,ul.dt-sc-fancy-list.type2 li,.dt-sc-fitness-program-details .dt-sc-fitness-program-reviews .vc-no-left-padding.vc_column_container .vc_column-inner {
padding-right:0;
}

.widget .tweet_list li,.dt-sc-testimonial.type8 .dt-sc-testimonial-quote blockquote {
padding-left:0;
padding-right:40px;
}

.widget .tweet_list li::before,.widget ul li::before,.woocommerce .widget_shopping_cart .cart_list li a.remove,.woocommerce.widget_shopping_cart .cart_list li a.remove,.blog-entry .entry-format,.blog-entry.entry-date-author-left .entry-date-author,.blog-entry.entry-date-left .entry-date,.blog-entry.entry-date-author-left .entry-date-author .entry-date,ul.commentlist li .comment-author,.dt-sc-toggle-frame h5.dt-sc-toggle-accordion a::before,.dt-sc-toggle-frame h5.dt-sc-toggle a::before,ul.dt-sc-fancy-list li::before,.dt-sc-contact-info.type2 span,.dt-sc-contact-info.type7 span::after,.dt-sc-contact-info.type7 span,.dt-sc-icon-box.type4 .icon-wrapper,.dt-sc-icon-box.type5 .icon-wrapper,.dt-sc-icon-box.type8 .icon-wrapper,.dt-sc-icon-box.type8::before,.dt-sc-testimonial.type6 .dt-sc-testimonial-quote blockquote::before,.dt-sc-testimonial.type8 .dt-sc-testimonial-quote blockquote q::before,.woocommerce #reviews #comments ol.commentlist li img.avatar,.portfolio.type2:hover .image-overlay .links,.dt-sc-fitness-program-nav li a::before,.dt-sc-fitness-program-details h4::before,.dt-sc-double-border-separator::before,.dt-sc-restaurant-events-list .dt-sc-restaurant-event-image:before,.dt-sc-testimonial-wrapper .dt-sc-testimonial.type8.alignright .dt-sc-testimonial-author cite,.vc_min_height_left .dt-sc-title.with-right-border-decor > :first-child:after,.dt-sc-title.with-right-border-decor > :first-child:after,.dt-sc-image-caption.type8.alignleft .dt-sc-image-content h3:before,.page-template-tpl-reservation-php .selection-box:before {
right:0;
left:auto;
}

.widget.woocommerce .woocommerce-product-search input[type="submit"],.portfolio.type7 .image-overlay-details,.dt-sc-newsletter-section.type6 form:after,.dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="submit"],.dt-sc-title.with-right-border-decor.aligncenter > :first-child:after,.portfolio.hover-centered-box .image-overlay-details {
left:0;
}

.woo-type20 .widget.woocommerce .woocommerce-product-search input[type="submit"],.domain-search {
border-radius:5px 0 0 5px;
}

.tagcloud a,#buddypress ul.item-list li img.avatar,#buddypress div.pagination .pagination-links span,#buddypress div.pagination .pagination-links a,.nightclub-booking .icon {
float:right;
margin-left:10px;
margin-right:0;
}

.woocommerce .widget_shopping_cart .cart_list li a,.woocommerce.widget_shopping_cart .cart_list li a,.woocommerce .widget_shopping_cart .cart_list li .quantity,.woocommerce.widget_shopping_cart .cart_list li .quantity,.dt-sc-hotel-room.dt-sc-hotel-room-list-view .dt-sc-hotel-room-details,.dt-sc-yoga-teacher-single .dt-sc-yoga-teacher-single-details,.blog-entry.blog-medium-style .entry-thumb ~ .entry-details {
padding-right:30px;
padding-left:0;
}

.dt-sc-button.medium.with-icon.icon-left span,.dt-sc-button.large.with-icon.icon-left span,.entry-meta-data p,.dt-sc-hotel-room .dt-sc-hotel-room-buttons .dt-sc-button {
margin-right:0;
margin-left:20px;
}

.dt-sc-button.xlarge.with-icon.icon-left span,.dt-sc-event-month-meta li {
margin-right:0;
margin-left:25px;
}

.portfolio .image-overlay .links a:last-child,.page-with-sidebar .portfolio.type1 .image-overlay .links a:first-child,.page-template-tpl-portfolio .portfolio.type1.dt-sc-one-third .image-overlay .links a:first-child,.page-template-tpl-portfolio .portfolio.type1.dt-sc-one-fourth .image-overlay .links a:first-child {
margin-right:5px;
}

.page-with-sidebar .portfolio.type1 .image-overlay .links a,.page-template-tpl-portfolio .portfolio.type1.dt-sc-one-third .image-overlay .links a,.page-template-tpl-portfolio .portfolio.type1.dt-sc-one-fourth .image-overlay .links a,.dt-sc-button.dt-sc-left-margin {
margin-left:0;
margin-right:20px;
}

.post-nav-container .post-next-link a,.post-nav-container .post-prev-link a,.domain-search-form label {
margin:0;
}

.pagination ul li a,.pagination ul li span,ul.dt-sc-fancy-list.type2 li span,.dt-sc-hotel-room .dt-sc-hotel-room-details ul li i,.dt-sc-hotel-room-single-metadata ul li i {
margin-left:10px;
margin-right:0;
}

.blog-entry.entry-date-author-left,.dt-sc-contact-info.type2,.dt-sc-contact-info.type7,.dt-sc-icon-box.type5 {
padding-left:0;
padding-right:100px;
}

.blog-entry.entry-date-left .entry-details,.blog-entry.blog-thumb-style.entry-date-left .entry-details {
padding-left:0;
padding-right:85px;
}

.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left,.with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left,.dt-sc-icon-box.type8 {
padding-left:0;
padding-right:80px;
}

.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-details,.dt-sc-icon-box.type4 {
padding-left:0;
padding-right:60px;
}

.dt-sc-timeline-section.type2 .dt-sc-timeline,.vcr_float_right .wpb_column .aligncenter {
text-align:center;
}

.dt-sc-tabs-vertical-frame-container.type2 ul.dt-sc-tabs-vertical-frame > li > a.current::before,.dt-sc-tabs-vertical-frame-container.type4 ul.dt-sc-tabs-vertical-frame > li > a.current::after,.dt-sc-fitness-program-short-details-wrapper .dt-sc-fitness-program-short-details {
left:30px;
right:auto;
}

.dt-sc-tabs-vertical-frame-container.type3 .dt-sc-tabs-vertical-frame-content,.dt-sc-tabs-vertical-frame-container.type4 .dt-sc-tabs-vertical-frame-content,blockquote.type2 {
padding-left:0;
padding-right:70px;
}

.alignright .dt-sc-toggle-content,.type2.alignright .dt-sc-toggle-content,.dt-sc-fitness-program-details .dt-sc-fitness-program-reviews .vc-no-right-padding.vc_column_container .vc_column-inner {
padding-left:0;
}

.type2 .dt-sc-toggle-frame h5.dt-sc-toggle-accordion::after,.type2 .dt-sc-toggle-frame h5.dt-sc-toggle::after,.dt-sc-newsletter-section.type7 .dt-sc-subscribe-frm::before {
left:20px;
right:auto;
}

.dt-sc-toggle-frame h5.dt-sc-toggle-accordion::after,.dt-sc-toggle-frame h5.dt-sc-toggle::after,.dt-sc-icon-box.type4::before {
right:22px;
left:auto;
}

.available-domains li .dt-sc-button,.dt-sc-rooms-container .column {
margin-left:0;
margin-right:0;
}

.dt-sc-dropcap.dt-sc-dropcap-circle,.dt-sc-dropcap.dt-sc-dropcap-bordered-circle,.dt-sc-dropcap.dt-sc-dropcap-square,.dt-sc-dropcap.dt-sc-dropcap-bordered-square,#buddypress .dt-sc-member-container,#buddypress .dt-sc-group-container {
margin-left:30px;
margin-right:0;
}

blockquote.type2::before,.widgettitle::before,.secondary-sidebar .type9 .widgettitle::before {
left:auto;
right:0;
}

.dt-sc-titled-box h6.dt-sc-titled-box-title span,.text-with-icon .icon,.text-with-icon .fa,.dt-sc-event-month-meta li span {
margin-left:5px;
margin-right:0;
}

.dt-sc-error-box::before,.dt-sc-warning-box::before,.dt-sc-success-box::before,.dt-sc-info-box::before,.wpcf7-form div.wpcf7-validation-errors::before,.wpcf7-form div.wpcf7-mail-sent-ok::before {
right:18px;
left:auto;
}

.dt-sc-event.type1 .dt-sc-event-meta p span,.woocommerce div.product form.cart div.quantity {
margin-left:4px;
margin-right:0;
}

.dt-sc-event.type2 .dt-sc-event-date,.dt-sc-event.type4 .dt-sc-event-date span {
float:right;
padding-left:10px;
padding-right:0;
}

.dt-sc-icon-box.type4.with-diamond-square-icon::before,.dt-sc-testimonial.type2 blockquote::before {
right:33px;
left:auto;
}

.dt-sc-bmi-calculator .dt-sc-bmi-result a span,#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next,#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next {
margin-left:0;
margin-right:5px;
}

.dt-sc-newsletter-section .dt-sc-subscribe-frm input[type="email"],.dt-sc-newsletter-section .dt-sc-subscribe-frm input[type="text"],.dt-sc-testimonial.type5 .dt-sc-testimonial-author img,.dt-sc-testimonial.type6 .dt-sc-testimonial-author img,#buddypress form#whats-new-form #whats-new-avatar,.vcr_float_right .alignright,.vcr_float_right img.alignright {
float:right;
margin-left:20px;
margin-right:0;
}

.dt-sc-newsletter-section.type7 .newsletter-tooltip,.dt-sc-testimonial.type2 .dt-sc-testimonial-author cite {
margin-left:0;
margin-right:30px;
}

.dt-sc-newsletter-section.type7 .dt-sc-subscribe-frm input[type="submit"],.hotel-contact-form p span.fa,.main-header #searchform::before,.university-contact-form .form-field i {
left:15px;
right:auto;
}

.dt-sc-testimonial.type5 .dt-sc-testimonial-author cite::before,.dt-sc-portfolio-sorting::before {
left:-25px;
right:auto;
}

.dt-sc-testimonial.type8 .dt-sc-testimonial-quote,ul.dt-sc-fancy-list.rounded-tick-alter li {
padding-left:0;
padding-right:30px;
}

.dt-sc-image-caption .dt-sc-image-wrapper .icon-wrapper span,.attorney-contact-form input[type="submit"],.dt-sc-hotel-room-single-metadata ul.dt-sc-sociable li,label,.yoga-program-sorting .selection-box,.yoga-video-sorting .selection-box {
margin-left:20px;
margin-right:0;
}

.bbp-forums .bbp-header .forum-titles li > i,#bbpress-forums .bbp-header .forum-titles li > i,#bbpress-forums .bbp-header > div > i,.dt-sc-attorney-location-overlay p span {
margin-left:8px;
margin-right:0;
}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-right,#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-right,#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next,#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next,.alignright .dt-sc-sociable,.main-title-section-wrapper.breadcrumb-left .main-title-section {
float:left;
text-align:left;
}

.secondary-sidebar .type6 .widgettitle::after,#wpsl-wrap {
right:30px;
left:auto;
}

.vc_no-margin .column.first,.dt-sc-newsletter-section.type1 h2:after {
margin-left:0;
}

.dt-sc-fitness-program-sorting a::before,.dt-sc-fitness-program .dt-sc-fitness-program-meta p::before {
left:-2px;
right:auto;
}

.dt-sc-fitness-program figure figcaption,.dt-sc-fitness-program .dt-sc-fitness-program-price::before {
left:-20px;
right:auto;
}

.dt-sc-fitness-program .dt-sc-fitness-program-meta p:first-child,.dt-sc-testimonial-wrapper .dt-sc-testimonial.type8 .dt-sc-testimonial-quote {
padding-right:0;
padding-left:20px;
}

.dt-sc-fitness-program-short-details ul li::before,.dt-sc-fitness-program-short-details h2::before {
right:25px;
left:auto;
}

.nightclub-contact-info,.nightclub-working-hours {
float:right;
margin-left:2.5%;
margin-right:0;
}

.dt-sc-menu .dt-sc-menu-details h6:before,.dt-sc-chef-single-details .dt-sc-chef-single-likes h6::before {
right:105%;
left:auto;
}

div.footer-widgets h3.widgettitle,.footer-widgets .widget,.dt-sc-team.hide-details-show-on-hover .dt-sc-team-details {
text-align:right!important;
}