/*
Theme Name:     Aagan Child
Theme URI: 		http://aagan.dttheme.com
Author: 		the DesignThemes team
Description:    Child theme for the Aagan theme powered by DesignThemes
Template:       aagan
Version:        1.0
*/
.dt-no-header-aagan .dt-logo-container a img {
    max-width: 70px!important;
}
.home:not(.page-with-slider) #header-wrapper {
    margin-bottom: 0px!important;
}
.no-breadcrumb #main {
    margin-top: 0px!important;
}
.wpb_single_image .vc_single_image-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 92%;
}

.dt-sc-image-caption.type6.red { background:#ec3237; }
	.dt-sc-image-caption.type6.blue-2 { background:#1b3061; }
	.dt-sc-image-caption.type6.green-1 { background:#30be2e; }
	.dt-sc-image-caption.type6.red-1 { background:#fc3434; }
	.dt-sc-image-caption.type6.blue-1 { background:#0263f5;}
	.dt-sc-image-caption.type6.green-2 { background:#25f3c7;}
/* 	.dt-sc-image-caption.type6.orange { background:#b76641;}
	.dt-sc-image-caption.type6.pink { background:#cb6ab5;}
	.dt-sc-image-caption.type6.black { background:#191919;} */


.project-details li span {
    font-weight: bold;
    width: auto!important;
    display: inline-block;
    color: #000000;
}

#toTop:before {
	content: "\f062"!important;
}
#toTop:after {
	content: ""!important;
}

#trp-floater-ls {
        top: 0!important;
	    bottom: auto;
}

/*product img size on categories page and background  */
.vc_gitem-animated-block {
    position: relative;
    background-color: #f9f9f9;
    padding-top: 25px;
}
.vc_gitem-zone{
	    background-position: 50% 0%;
}
/* price tag and info of post   */
.entry-info{
	display:none;
}
.price-container{
	bottom: 17%;
    background: #197a05;
    color: #fff;
    width: 200px;
    border-radius: 2px;
    position: relative;
}
.price-container table.price-table{
	margin-bottom: 0px!important;
}
.entry-body p.price{
	background: #f4524d;
    color: #fff;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px #ccc;
}
.entry-body p.ref{
	background: #3f7b10;
    color: #fff;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px #ccc;
	right:auto;
}
.entry-body .wpb_wrapper{
	margin-top:50px!important;
}
.vc_gitem-post-data-source-post_excerpt p {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.vc_gitem-post-data-source-post_excerpt p span.price{
	background: #f4524d;
    color: #fff;
    padding: 5px;
    position: absolute;
    top: auto;
    right: 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px #ccc;
	bottom:37px;
}
.vc_gitem-post-data-source-post_excerpt p .ref{
	background: transparent;
    color: #3f7b10;
    padding: 10px;
    position: absolute;
    top: 23px;
    left: auto;
    border-radius: 5px;
    box-shadow: 0 0 0px 0px #ccc;
    bottom: auto;
    right: 0px;
	font-weight:bolder;
}
/* blog post tempeleate  */
.blog-entry {
    float: left;
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    display: flex;
}
.blog-entry .entry-body{
	position:relative;
	padding-top:50px!important;
}
.blog-entry .entry-details {
    clear: both;
    display: inline-block;
    width: 100%;
    padding-top: 50px;
}
.blog-entry.post-info-bottom-image .entry-meta {
    margin-bottom: 0;
    width: 100%;
    float: none;
    position: absolute;
    background: #fff;
    left: 0;
    margin: 0 auto;
    padding: 20px 20px 0px 0;
    top: 0px;
    bottom: auto!important;
}
.blog-entry.post-info-bottom-image .entry-thumb {
    backface-visibility: hidden;
    -webkit-box-shadow: 10px -10px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 10px -10px 0px 0px rgba(0,0,0,0);
    box-shadow: 10px -10px 0px 0px rgba(0,0,0,0);
    width: auto;
    margin-bottom: 30px;
    padding-top: 90px;
}
.blog-entry.post-info-bottom-image .entry-meta .entry-title h4 {
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 25px!important;
}
.vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_title h4{
	font-size:18px!important;
}

/* image zoom effact */
img.attachment-full.size-full.wp-post-image{
	transition: transform .2s; /* Animation */
}
img.attachment-full.size-full.wp-post-image:hover {
	 transform: scale(1.5);
}
/* hide social icon on team page  */
.dt-sc-team-social {
    float: left;
    clear: both;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: none!important;
}







/* media max width 990px */
@media only screen and (max-width: 990px) {
	.blog-entry {
    float: left;
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    display: block;
}
}